{% extends 'base.html' %}
{% load mathfilters %}
{% load staticfiles %}
{% block startHeaders %}
{% endblock %}
{% block content %}
    {% include 'nav-bar.html' %}
    <div class="row extra-top-margin">
        <div class="large-12 columns" role="content">
            <article>
                <h2>Title</h2>
                <hr/>
                <div class="row">
                    <div class="large-12 columns">
                        <div class="large-2 columns">
                            <img src="/avatars/{{ request_your.user.user_profile.get.picture }}"/>

                            <div class="grey-font">{{ user.first_name|upper }} {{ user.last_name|upper }}</div>
                            <a href="#" data-dropdown="drop1">
                                <button class="message-button [radius small round] extra-top-small-margin"><i class="fa fa-comments-o"></i>Message
                                </button>
                            </a>

                            <div id="drop1" data-dropdown-content class="f-dropdown content">
                                <form>
                                    <input placeholder="Subject">
                                    <textarea class="message" placeholder="Message"></textarea>

                                    <div class="row">
                                        <div class="large-8 columns left-text">
                                            <input id="checkbox1" type="checkbox" class="small">
                                            <label for="checkbox1" class="grey-font">Reply
                                                to my email</label>
                                        </div>
                                        <div class="large-4 columns">
                                            <button class="orange-button [radius small round]">Send</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="large-10 columns">
                            <div class="row">
                                <div class="large-2 large-offset-2 columns">
                                    <div class="row titles">
                                        Category
                                    </div>
                                    <div class="row extra-top-small-margin">
                                        {{ request_your.category }}
                                    </div>
                                </div>
                                <div class="large-2 columns">
                                    <div class="row titles">
                                        Company
                                    </div>
                                    <div class="row extra-top-small-margin">
                                        {{ request_your.user.user_profile.all.0.company }}
                                    </div>
                                </div>
                                <div class="large-2 columns">
                                    <div class="row titles">
                                        City
                                    </div>
                                    <div class="row extra-top-small-margin">
                                        {{ request_your.city }}
                                    </div>
                                </div>
                                <div class="large-2 columns">
                                    <div class="row titles">
                                        Commission
                                    </div>
                                    <div class="row extra-top-small-margin">
                                        ${{ request_your.commission_start|floatformat }} to ${{ request_your.commission_end|floatformat }}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="large-6 large-offset-2 columns">
                                    <div class="row titles extra-top-margin">
                                        Description
                                    </div>
                                    <div class="row extra-top-small-margin">
                                        {{ request_your.request }}
                                    </div>
                                </div>
                                <div class="large-4 columns">
                                    <div class="row titles extra-top-margin">
                                        End Date
                                    </div>
                                    <div class="row extra-top-small-margin">
                                        {{ request_your.due_by }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="large-12 columns"><h3 class="extra-top-margin">Responses</h3></div>
                </div>
                <div class="row extra-top-small-margin">
                    <div class="large-12 columns">
                        <form method="post" action="">
                            <input value="{{ form.fields.preview.initial }}" name="preview" disabled>
                            <textarea name="response" disabled>{{ form.fields.response.initial }}</textarea>
                        </form>
                    </div>
                </div>
            </article>
        </div>
    </div>
{% endblock %}
{% block additionalScripts %}
{% endblock %}
