{% extends 'base.html' %}
{% load mathfilters %}
{% load staticfiles %}
{% block startHeaders %}
{% endblock %}
{% block content %}
    <div class="large-9 columns" xmlns="http://www.w3.org/1999/html">
        <div class="row main-content-top">
            <div class="large-6 columns">
                <h2 class="top-title"><span class="title-icon"><i
                        class="icon-reorder"></i></span>{{ response.title }}</h2>
            </div>
            <div class="large-6 columns">
                <ul class="breadcrumbs right">
                    <li><a href="/">Home</a></li>
                    <li><a href="{% url 'response:view_your' %}">Your Responses</a></li>
                    <li class="current"> {{ response.request.title }}</li>
                </ul>
            </div>
        </div>
        <div class="row main-content">
            <div class="large-12 columns">
                <h3 class="color">Request</h3>

                <div class="large-6 columns">
                    <div class="rows">
                        <div class="panel">
                            <strong>Category: </strong>{{ response.request.category }}
                        </div>
                        <div class="panel">
                            <strong>Looking For: </strong>{{ response.request.title }}
                        </div>
                        <div class="panel">
                            <strong>City: </strong>{{ request_your.city }}
                        </div>
                        <div class="panel">
                            <strong>Description of Request: </strong>{{ response.request.request }}
                        </div>
                        <div class="panel">
                            <strong>Time Till: </strong>{{ response.due_by|timeuntil }}
                        </div>
                        <div class="panel">
                            <strong>Reward: </strong>{{ response.request.reward }}
                        </div>
                    </div>
                </div>
                <div class="large-6 columns">
                    <div class="rows">
                        <div class="panel">
                            <strong>Response: </strong>{{ response.response }}
                        </div>
                        <div class="panel">
                            <strong>Available Till: </strong>{{ response.available_till }}
                        </div>
                        <div class="panel">
                            <strong>Price: </strong>{{ response.price }}
                        </div>
                    </div>
                    {% if user == response.user %}
                        {% if not response.buyer %}
                            {% if response.counter_offer %}
                                <div class="panel">
                                    <strong>Counter Offer: </strong>{{ response.counter_offer }}
                                    <strong>Comment: </strong>{{ response.counter_comments }}
                                    <a href="#" class="button pull-right" data-dropdown="contentDrop"
                                       style="margin-top: -10px">Options</a>

                                    <div id="contentDrop" data-dropdown-content class="f-dropdown content">
                                        <a type="button" class="button" href="{% url 'response:accept' response.id %}">Accept</a>
                                        <input type="button" class="button" value="Negotiate"
                                               onclick="$('#negotiate-form').lightbox_me({centered: true});">
                                    </div>
                                </div>
                            {% endif %}
                            {% if response.buyer and response.price != 0 and response.collected == False %}
                            {% else %}
                                <a class="button" href="{% url 'response:edit' response.id %}">Edit</a>
                            {% endif %}
                        {% else %}
                            <div class="panel color">
                                <strong>Response Has Been Accepted!</strong>
                            </div>
                        {% endif %}
                    {% endif %}

                </div>
            </div>
        </div>
    </div>
    <div id="negotiate-form" title="New Offer" data-role="none" style="display: none; background: #eef2f7;">
        <h3>Negotiate</h3>

        <form data-role="none" action="{% url 'response:counter_negotiate' response.id %}" method="post">
            {% csrf_token %}
            <fieldset data-role="none">
                <label for="new_offer" data-role="none">New Offer: </label>
                <input type="text" id="new_offer" name="new_offer">
                <input type="submit" value="Submit" class="button">
            </fieldset>
        </form>
    </div>
    <!-- End Row -->
{% endblock %}
{% block additionalScripts %}
{% endblock %}
