{% extends 'base.html' %}
{% load staticfiles %}
{% load mathfilters %}
{% load lookupfilter %}
{% block content %}
    {% include 'nav-bar.html' %}
    <div class="row extra-top-margin">
        <div class="large-12 columns" role="content">
            <article>
                <h2>Create Group</h2>
                <hr/>
                <form action="{% url 'group:create' %}" method="post">
                    {% csrf_token %}
                    <div class="row">
                        <div class="large-12 columns">
                            <div class="large-6 columns">
                                <label for="title">Logo</label>
                                {{ form.logo }}
                            </div>
                            <div class="large-6 columns">
                                <label for="title">Headline</label>
                                {{ form.title }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="large-12 columns">
                            <div class="large-12 columns">
                                <label for="request">Description</label>
                                {{ form.description }}
                            </div>
                        </div>
                    </div>
                    <div class="row right">
                        <button type="submit" class="button-important [radius tiny round]">CREATE GROUP</button>
                    </div>
                </form>
            </article>
        </div>
    </div>
    <!-- End Row -->
{% endblock %}