{% extends 'base.html' %}
{% load staticfiles %}
{% load mathfilters %}
{% load lookupfilter %}
{% block content %}
    {% include 'nav-bar.html' %}
    <div class="row extra-top-margin">
        <div class="large-12 columns" role="content">
            <article>
                <h2>{{ group.title }}</h2>
                <hr/>
                <div class="row">
                    <div class="large-6 columns">
                        <img src="{{ group.logo }}"/>
                    </div>
                    <div class="large-6 columns">
                        <h4>Title</h4>
                        {{ group.title }}
                    </div>
                </div>
                <div class="row">
                    <div class="large-12 columns">
                        <h4>Description</h4>
                        {{ group.description }}
                    </div>
                </div>
                <div class="row">
                    <div class="large-12 columns">
                        <div class="panel extra-top-margin" style="max-height: 400px">
                            <h4>Administrator</h4>
                            <a href="{% url 'user:user' group.administrators.get.id %}">{{ group.administrators.get.first_name }} {{ group.administrators.get.last_name }}</a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    {% if administrator %}
                        <div class="large-6 columns">
                            <div class="panel extra-top-margin" style="max-height: 400px; overflow-y: scroll">
                                <h4>Members</h4>
                                <ul style="list-style: none">
                                    {% for member in users %}
                                        <li>
                                            <a href="{% url 'user:user' member.id %}">{{ member.username }}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                        <div class="large-6 columns">
                            <div class="panel extra-top-margin" style="max-height: 400px; overflow-y: scroll">
                                <h4>Add Members</h4>
                                <form method="post" action="{% url 'group:add' group.id %}">
                                    {% csrf_token %}
                                    <ul class="list"
                                        style="margin-top: 10px; max-height: 250px; overflow-y: scroll">
                                        {% for contact in contacts %}
                                            <li>
                                                <input type="checkbox" name="add[]"
                                                       value="{{ contact.user.id }}">{{ contact.user.username }}
                                            </li>
                                        {% endfor %}
                                    </ul>
                                    <button class="button-important [radius tiny round]" type="submit">Add to Group</button>
                                </form>
                            </div>
                        </div>
                    {% else %}
                        <div class="large-12 columns">
                            <div class="panel extra-top-margin" style="max-height: 400px; overflow-y: scroll">
                                <h4>Members</h4>
                                <ul style="list-style: none">
                                    {% for member in users %}
                                        <li>
                                            <a href="{% url 'user:user' member.id %}">{{ member.username }}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    {% endif %}
                </div>
                {% if administrator %}
                    <div class="row right">
                        <button type="submit" onclick="window.location.href='{% url 'group:edit' group.id %}'"
                                class="button-important [radius tiny round]">EDIT GROUP
                        </button>
                    </div>
                {% endif %}
        </div>
        </article>
    </div>
    </div>
    <!-- End Row -->
{% endblock %}
{% block additionalScripts %}
{% endblock %}