{% extends 'base.html' %}
{% load staticfiles %}
{% load mathfilters %}
{% load lookupfilter %}
{% block content %}
    {% include 'nav-bar.html' %}
    <div class="row extra-top-margin">
        <div class="large-12 columns" role="content">
            <article>
                <h2 style="display: inline">Your Groups</h2>
                <a href="{% url 'group:create' %}"><button class="button-important right [round small radius]">Create Group</button></a>
                <hr/>
                <div class="row">
                    {% for group in groups %}
                        <div class="panel">
                            <div class="row">
                                <div class="large-2 columns">
                                    <img width="50px" height="75px" src="{{ group.logo }}">
                                </div>
                                <div class="large-10 columns">
                                    <a href="{% url 'group:index' group.id %}">{{ group.title }}</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </article>
        </div>
    </div>
    <!-- End Row -->
{% endblock %}