{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
    {% include 'nav-bar.html' %}
    <div class="row">
        <div class="large-12 columns">
            <!-- Main Page Content and Sidebar -->
            <dl class="tabs" data-tab>
                <dd class="active"><a href="#panel2-1">Commission Earned</a></dd>
                <dd><a href="#panel2-2">Commission Paid</a></dd>
            </dl>
            <div class="tabs-content">
                <div class="content active" id="panel2-1">
                    <div class="row">
                        <div class="large-12 columns" role="content">
                            <article>
                                <h2>Commission Earned</h2>
                                <hr/>
                                <div class="row">
                                    <div class="large-12 columns">
                                        <div class="large-2 columns balance">
                                            ${{ seven|floatformat }}
                                            <div class="subcontent">PAST 7 DAYS</div>
                                        </div>
                                        <div class="large-4 columns balance centered">
                                            <div class="vr-left"></div>
                                            <div class="content">
                                                ${{ thirty|floatformat }}
                                                <div class="subcontent">PAST 30 DAYS</div>
                                            </div>
                                            <div class="vr-right"></div>
                                        </div>
                                        <div class="large-3 large-offset-3 columns balance">
                                            <div class="content">
                                                ${{ total_earned|floatformat }}
                                                <div class="subcontent">TOTAL</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="large-12 columns">
                                        <div class="cash-out">
                        <span class="grey-font">Amount available for cash out: <span
                                class="large-font"><strong>${{ profile.commission_earned }}</strong></span></span>
                                            {% if profile.commission_earned != 0 %}
                                                <button id="cashout"
                                                        class="button-important right [radius small round]">
                                                    CASH OUT
                                                </button>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                                <div class="panel payments extra-top-xlarge-margin">
                                    <div class="row">
                                        <div class="large-12 columns">
                                            <strong class="grey-font">Payments Recieved</strong>
                                            <hr>
                                        </div>
                                    </div>
                                    {% for transaction in transaction_list %}
                                        <div class="row extra-top-small-margin">
                                            <div class="large-12 columns">
                                                <span class="grey-font">{{ transaction.request.user }} &nbsp ${{ transaction.commission_paid|floatformat }} <span
                                                        class="right">{{ transaction.commission_time }}</span></span>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>

                            </article>
                        </div>
                    </div>
                </div>
                <div class="content" id="panel2-2">
                    <div class="row">
                        <div class="large-12 columns" role="content">
                            <article>
                                <h2>Commission Paid (on successful leads)</h2>
                                <hr/>
                                <div class="row">
                                    <div class="large-12 columns">
                                        <div class="large-2 columns balance">
                                            ${{ last7_paid|floatformat }}
                                            <div class="subcontent">PAST 7 DAYS</div>
                                        </div>
                                        <div class="large-4 columns balance centered">
                                            <div class="vr-left"></div>
                                            <div class="content">
                                                ${{ last30_paid|floatformat }}
                                                <div class="subcontent">PAST 30 DAYS</div>
                                            </div>
                                            <div class="vr-right"></div>
                                        </div>
                                        <div class="large-3 large-offset-3 columns balance">
                                            <div class="content">
                                                ${{ total_paid|floatformat }}
                                                <div class="subcontent">TOTAL</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel payments extra-top-xlarge-margin">
                                    <div class="row">
                                        <div class="large-12 columns">
                                            <strong class="grey-font">Payments</strong>
                                            <input type="text" class="right" placeholder="Search">
                                            <hr>
                                        </div>
                                    </div>
                                    {% for response in paid_list %}
                                        <div class="row extra-top-small-margin">
                                            <div class="large-12 columns">
                                            <span class="grey-font">{{ response.user }} &nbsp ${{ response.commission_paid|floatformat }} <span
                                                    class="right">{{ response.commission_time }}</span></span>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>

                            </article>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="light-box" id="collect-paypal">
        <i class="fa fa-times-circle-o close"
           style="margin-top: 7px; font-size: 1.5em; margin-right: 10px; float: right"></i>

        <div class="title-light">
            Cash Out
        </div>
        <div class="row content">
            <form action="{% url 'user:collect' %}" method="post">
                {% csrf_token %}
                <div class="row">
                    <div class="large-12 columns">
                        <input type="email" placeholder="Paypal Email Address" name="email"/>
                    </div>
                </div>
                <div class="row">
                    <div class="large-12 columns">
                        <button type="submit" class="button-important right [radius small round]">CASH OUT
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
{% block additionalScripts %}
    <script>
        $(function () {
            $('#cashout').click(function () {
                $('#collect-paypal').lightbox_me({centered: true});
            });
        });
    </script>
    <script src="{% static 'js/foundation/foundation.tab.js' %}"></script>
{% endblock %}