{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
    <div class="large-9 columns">
        <div class="row main-content-top">
            <div class="large-6 columns">
                <h2 class="top-title"><span class="title-icon"><i class="icon-group"></i></span>Login</h2>
            </div>
            <div class="large-6 columns">
                <ul class="breadcrumbs right">
                    <li><a href="/">Home</a></li>
                    <li class="current"><a href="#">Login</a></li>
                </ul>
            </div>
        </div>
        <div class="row main-content">
            <div class="large-12 columns">
                <h3 class="color">Login</h3>

                <div class="large-6 columns">
                    <div class="rows">
                        <form method="POST" action="{% url 'user:login' %}" class="contactForm">
                            <div id="status"></div>
                            <div class="contact_form">
                                <div class="row">
                                    {% csrf_token %}
                                    <div class="row">
                                        <div class="row">
                                            <div class="columns">
                                                <input type="text" placeholder="username" name="username"
                                                        {% if username %} class="error" {% endif %}>
                                                {% if username %}
                                                    <small class="error">Invalid Username</small>{% endif %}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="columns">
                                                <input type="password" placeholder="Password" name="password"
                                                        {% if password %} class="error" {% endif %}>
                                                {% if password %}
                                                    <small class="error">Invalid Password</small>{% endif %}
                                            </div>
                                        </div>
                                        <div class="columns">
                                            <input type="submit" class="button right" value="Login" name="send"
                                                   id="send"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <div class="divLoginOrBuffer" style="top:-10px;color:#999;">
                            <div style="top: -4px;">&nbsp;</div>
                            <span style="font-size:15px;">or</span>
                        </div>
                        <div class="row">
                            <ul class="social">
                                <li><a href="{% url "socialauth_begin" "linkedin" %}"><img
                                        src="{% static 'images/linkedin.png' %}" alt="LinkedIn"/></a></li>
                                <li><a href="{% url "socialauth_begin" "facebook" %}"><img
                                        src="{% static 'images/fb.png' %}" alt="Facebook"/></a></li>
                                <li><a href="{% url "socialauth_begin" "twitter" %}"><img
                                        src="{% static 'images/tw.png' %}" alt="twitter"/></a></li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Row -->
{% endblock %}
{% block side_bar %}
{% endblock %}
{% block additionalScripts %}
{% endblock %}
