{% extends 'base.html' %}
{% block content %}
    {% include 'nav-bar.html' %}
    <div class="row extra-top-margin">
        <div class="large-12 columns" role="content">
            <article>
                <h2 class="text-center">COMPARE PLANS</h2>
                <table class="extra-top-margin">
                    <thead>
                    <tr>
                        <th>PLANS</th>
                        <th class="text-center">FREE</th>
                        <th class="text-center">BUSINESS PLUS</th>
                        <th class="text-center">EXECUTIVE</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>(ANNUAL PAYMENTS SAVE UP TO 20%)</td>
                        <td>{% if profile and profile.plan > 0 %}
                            <button class="grey-button extra-top-small-margin downgradable [radius small round]"
                                    onclick="window.location.href='{% url 'user:downgrade' 0 %}'">
                                INCLUDED
                            </button>{% endif %}</td>
                        <td><span class="very-large-font">19.99</span><sub>/MO.</sub><br>
                            {% if profile and profile.plan < 1 %}
                                <button class="grey-button extra-top-small-margin [radius small round]"
                                        id="business_plan">BUY NOW
                                </button>
                                <script>
                                    var string = "#business_plan";
                                    var string2 = "#business_form";
                                    $(string).click(function () {
                                        var token = function (res) {
                                            var $input = $('<input type=hidden name=stripeToken />').val(res.id);
                                            $(string2).append($input).submit();
                                        };
                                        $("#plan").val(1);

                                        StripeCheckout.open({
                                            key: 'pk_test_HlXsmOAZkKNhrPmUQ7w8Iumi',
                                            address: false,
                                            amount: 2000,
                                            currency: 'cad',
                                            name: "Business Plus Plan",
                                            description: "Upgrade to Business Plus Plan",
                                            panelLabel: 'Upgrade for',
                                            token: token
                                        });
                                        return false;
                                    });
                                </script>
                            {% else %}
                                <button {% if profile.plan != 1 %}class="grey-button extra-top-small-margin disabled [radius small round] downgradable"
                                        onclick="window.location.href='{% url 'user:downgrade' 1 %}'"
                                        {% else %}class="grey-button extra-top-small-margin disabled [radius small round]"{% endif %}>
                                    INCLUDED
                                </button>
                            {% endif %}
                        </td>
                        <td><span class="very-large-font">49.99</span><sub>/MO.</sub><br>
                            {% if profile and profile.plan < 2 %}
                                <button class="grey-button extra-top-small-margin [radius small round]"
                                        id="executive_plan">BUY NOW
                                </button>
                                <script>
                                    var string = "#executive_plan";
                                    var string2 = "#business_form";
                                    $(string).click(function () {
                                        var token = function (res) {
                                            var $input = $('<input type=hidden name=stripeToken />').val(res.id);
                                            $(string2).append($input).submit();
                                        };
                                        $("#plan").val(2);

                                        StripeCheckout.open({
                                            key: 'pk_test_HlXsmOAZkKNhrPmUQ7w8Iumi',
                                            address: false,
                                            amount: 5000,
                                            currency: 'cad',
                                            name: "Executive Plan",
                                            description: "Upgrade to Executive Plan",
                                            panelLabel: 'Upgrade for',
                                            token: token
                                        });
                                        return false;
                                    });
                                </script>
                            {% else %}
                                <button
                                        {% if profile.plan != 2 %}class="grey-button extra-top-small-margin disabled [radius small round] downgradable"
                                        onclick="window.location.href='{% url 'user:downgrade' 2 %}'"
                                        {% else %}class="grey-button extra-top-small-margin disabled [radius small round]"{% endif %}>
                                    INCLUDED
                                </button>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td>Leads/Referrals allowed to recieve per month</td>
                        <td>20</td>
                        <td>50</td>
                        <td>Unlimited</td>
                    </tr>
                    <tr>
                        <td>Create request</td>
                        <td class="batch">&#xF140</td>
                        <td class="batch">&#xF140</td>
                        <td class="batch">&#xF140</td>
                    </tr>
                    <tr>
                        <td>Receive free referrals</td>
                        <td class="batch">&#xF140</td>
                        <td class="batch">&#xF140</td>
                        <td class="batch">&#xF140</td>
                    </tr>
                    <tr>
                        <td>Number of testimonials you can list under your profile</td>
                        <td>1</td>
                        <td>5</td>
                        <td>10</td>
                    </tr>
                    <tr>
                        <td>Weekly email notifications summarizing leads provided</td>
                        <td class="batch">&#xF140</td>
                        <td class="batch">&#xF140</td>
                        <td class="batch">&#xF140</td>
                    </tr>
                    <tr>
                        <td>Number of views of your Referral Request</td>
                        <td class="batch">&#xF140</td>
                        <td class="batch">&#xF140</td>
                        <td class="batch">&#xF140</td>
                    </tr>
                    <tr>
                        <td>Preferred Listing</td>
                        <td class="batch"></td>
                        <td class="batch">&#xF140</td>
                        <td class="batch">&#xF140</td>
                    </tr>
                    <tr>
                        <td>Featured location listing</td>
                        <td class="batch"></td>
                        <td class="batch">&#xF140</td>
                        <td class="batch">&#xF140</td>
                    </tr>
                    <tr>
                        <td>URL listing to connect with current company referral program</td>
                        <td class="batch"></td>
                        <td class="batch">&#xF140</td>
                        <td class="batch">&#xF140</td>
                    </tr>
                    <tr>
                        <td>Can Upload and receive files</td>
                        <td class="batch"></td>
                        <td class="batch">&#xF140</td>
                        <td class="batch">&#xF140</td>
                    </tr>
                    <tr>
                        <td>Email notifications to connections when you list</td>
                        <td class="batch"></td>
                        <td class="batch">&#xF140</td>
                        <td class="batch">&#xF140</td>
                    </tr>
                    <tr>
                        <td>Email notifications when leads provided</td>
                        <td class="batch"></td>
                        <td class="batch">&#xF140</td>
                        <td class="batch">&#xF140</td>
                    </tr>
                    <tr>
                        <td>Directly link to current company referral program on a customized page</td>
                        <td class="batch"></td>
                        <td class="batch"></td>
                        <td class="batch">&#xF140</td>
                    </tr>
                    </tbody>
                </table>
            </article>
        </div>
    </div>
    <form method="post" action="" id="business_form">{% csrf_token %}<input type="hidden" id="plan"
                                                                            name="plan" value="0"></form>
{% endblock %}
{% block additionalScripts %}
    <script>
        var $downgradable = $('.downgradable');
        $downgradable.mouseenter(function () {
            $(this).text('DOWNGRADE');
        });
        $downgradable.mouseleave(function () {
            $(this).text('INCLUDED');
        });
    </script>
{% endblock %}