{% extends 'base.html' %}
{% load staticfiles %}
{% load mathfilters %}
{% load lookupfilter %}
{% block startHeaders %}
{% endblock %}
{% block content %}
    <div class="large-9 columns">
        <div class="row main-content-top">
            <div class="large-6 columns">
                <h2 class="top-title"><span class="title-icon"><i class="icon-table"></i></span>Profile</h2>
            </div>
            <div class="large-6 columns">
                <ul class="breadcrumbs right">
                    <li><a href="/">Home</a></li>
                    <li class="unavailable"><a href="#">Profile</a></li>
                    <li class="current"><a href="#">{{ user.username }}</a></li>
                </ul>
            </div>
        </div>
        <div class="row main-content trans-bg">
            <div class="row member-profiles member-alternative"><!-- Row -->
                <div class="large-12 columns member">
                    <div class="row">
                        <div class="large-6 columns member-photo" id="image">
                            {% if profile %}
				 <img src="{{ other_profile.picture }}" width="460px" height="460px">
                                <div style="margin: 0 auto; text-align: center">
                                    <p style="color: white">Current Plan:</p>
                                    <button id="plan_button">{{ profile.plan_names|lookup:profile.plan }}</button>
                                </div>
                            {% endif %}
                            <span class="arrow"></span>
                        </div>

                        <div class="large-6 columns">
                            {% if profile %}
                                <h3>{{ profile.user.username }}</h3>
                                <form method="POST" action="{% url 'user:index' %}">
                                    {% csrf_token %}
                                    <div class="panel" style="margin-top: 10px">
                                        <strong>Email Address: </strong>{{ user.email }}
                                    </div>
                                    {% for field in form %}
                                        <div class="row">
                                            <div class="large-10 columns">
                                                <div style="color: white">{{ field.label }}</div>
                                                {{ field }}
                                            </div>
                                        </div>
                                    {% endfor %}
                                    <div class="panel" style="margin-top: 10px">
                                        <strong>Number of Connection: </strong>{{ profile.num_connections }}
                                    </div>
                                    <div class="panel" style="margin-top: 10px">
                                        <strong>Number of Recommenders: </strong>{{ profile.num_recommenders }}
                                    </div>
                                    <div class="columns">
                                        <input type="submit" class="button right" style="background-color: #999"
                                               value="Update" name="send"
                                               id="send"/>
                                    </div>
                                    <hr/>
                                </form>
                            {% elif other_profile %}
                                <h3>{{ other_profile.user.username }}</h3>
                                <div class="panel" style="margin-top: 10px">
                                    <strong>Interests: </strong>{{ other_profile.interests }}
                                </div>
                                <div class="panel">
                                    <strong>Skills: </strong>{{ other_profile.skills }}
                                </div>
                                <div class="panel" style="margin-top: 10px">
                                    <strong>City: </strong>{{ other_profile.city }}
                                </div>
                                <div class="panel" style="margin-top: 10px">
                                    <strong>Industry: </strong>{{ other_profile.industry }}
                                </div>
                                <div class="panel" style="margin-top: 10px">
                                    <strong>Educations: </strong>{{ other_profile.educations }}
                                </div>
                                <div class="panel" style="margin-top: 10px">
                                    <strong>Number of Connection: </strong>{{ other_profile.num_connections }}
                                </div>
                                <div class="panel" style="margin-top: 10px">
                                    <strong>Number of Recommenders: </strong>{{ other_profile.num_recommenders }}
                                </div>
                                {% if not connected and not invitation %}
                                    <form action="{% url 'user:invite' %}" method="post">
                                        {% csrf_token %}
                                        <input value="{{ other_profile.user_id }}" name="id" type="hidden">
                                        <input class="button white" id="invite" type="submit" value="Add as Contact">
                                    </form>
                                {% elif invitation %}
                                    <form action="{% url 'user:accept' %}" method="post">
                                        {% csrf_token %}
                                        <input value="{{ other_profile.user_id }}" name="id" type="hidden">
                                        <input class="button white" id="invite" type="submit" value="Accept Invitation">
                                    </form>
                                {% endif %}
                                {% if connected %}
                                    <div class="panel" style="margin-top: 10px">
                                        <strong>You are connected!</strong>
                                    </div>
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% if profile %}
                    <div class="large-12 columns member">
                        <div class="panel">
                            <strong>Credits available to be collected: </strong>{{ profile.points_current }}
                            {% if profile.points_current != 0 %}
                                <button class="button" id="collect"
                                        onclick="$('#collect-form').lightbox_me({centered: true});">Collect Cash
                                </button>
                                {% if messages %}{% for message in messages %}<span class="error">{{ message }}
                                    </span>{% endfor %}{% endif %}
                            {% endif %}
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
    {% if profile %}
        <div id="collect-form" title="Collect Points" data-role="none"
             style="display: none; background: #eef2f7; padding: 10px">
            <h3>Collect Credit</h3>

            <form data-role="none" action="{% url 'user:collect' %}" method="post">
                {% csrf_token %}
                <fieldset data-role="none">
                    <label for="amount" data-role="none">Amount: </label>
                    <input type="text" id="amount" name="amount" value="{{ profile.points_current }}">
                    <br> <h5>Money To Be Recieved: $<span id="money_out">{{ profile.points_current|div:2 }}</span></h5>
                    <label for="email" data-role="none" style="margin-top: 5px">PayPal Email: </label>
                    <input type="email" id="email" name="email">
                    <input type="submit" value="Collect" class="button" id="id_collect">
                </fieldset>
            </form>
        </div>
    {% endif %}
    <!-- End Row -->
{% endblock %}
{% block additionalScripts %}
    <script type="text/javascript">
        {% if profile %}
            $('#id_collect').click(function (event) {
                if (parseFloat($('amount').val()) > {{ profile.points_current }}) {
                    event.stopPropagation();
                    event.preventDefault();
                    $('#error').text("You don't have enough points!")
                }
            });
        {% endif %}
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-switch/1.5/bootstrap-switch.min.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css"/>
    <script src="https://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    <script type="text/javascript">
        {% if profile %}
            $(function () {
                var $planbutton = $("#plan_button");
                var temp = $planbutton.text();
                $planbutton.mouseenter(function(){
                    $(this).text('Upgrade');
                });
                $planbutton.mouseleave(function(){
                    $(this).text(temp);
                });
                $planbutton.click(function (){
                    window.location = '{% url 'user:pricing' %}';
                });
                var $offer = $("#amount");
                $offer.spinner({
                    min: 0,
                    step: 1,
                    max: {{ profile.points_current }},
                    numberFormat: "C",
                    culture: "en-US"
                });
                $offer.on("spinchange", function (event, ui) {
                    $(this).spinner("value", this.value);
                    $('#money_out').text(this.value / 2);
                });
                $offer.on("keypress", function () {
                    $('#money_out').text($offer.val() / 2);
                });
                $('.ui-spinner-button').click(function () {
                    $('#money_out').text($offer.val() / 2);
                });
                $('#select_points').change(function () {
                    $('#points_price').text($(this).val());
                });
            });
        {% endif %}
    </script>
{% endblock %}
