{% extends 'base.html' %}
{% load staticfiles %}
{% block additionalHeaders %}
    <link href="//code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" rel="stylesheet"/>
{% endblock %}
{% block content %}
    {% include 'nav-bar.html' %}
    <div class="row extra-top-margin">
        <div class="large-12 columns" role="content" id="create-input">
            <article>
                <h2>Create Request</h2>
                <hr/>
                <form action="" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row">
                        <div class="large-12 columns">
                            <div class="small-12 large-6 columns">
                                <label for="category">Category</label>
                                {{ form.category }}
                            </div>
                            <div class="small-12 large-6 columns">
                                <label for="company">Company</label>
                                {{ form.company }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="large-12 columns">
                            <div class="large-6 columns">
                                <label for="city">City</label>
                                {{ form.city }}
                            </div>
                            <div class="large-6 columns">
                                <label for="commission-start">Commission</label>

                                <div class="row extra-top-mini-margin collapse">
                                    <div class="large-1 small-1 columns">
                                        <span class="prefix">$</span>
                                    </div>
                                    <div class="large-4 small-4 columns">
                                        {{ form.commission_start }}
                                    </div>
                                    <div class="large-1 small-1 columns text-center vertical">
                                        to
                                    </div>
                                    <div class="large-1 small-1 columns">
                                        <span class="prefix">$</span>
                                    </div>
                                    <div class="large-5 small-5 columns">
                                        {{ form.commission_end }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% if user.user_profile.get.plan == 2 or user.groups.all.count != 0 %}
                        <div class="row">
                            <div class="large-12 columns">
                                <div class="large-12 columns">
                                    <label for="groups">Send to only Groups:</label>
                                    {{ form.groups }}
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    <div class="row">
                        <div class="large-12 columns">
                            <div class="large-12 columns">
                                <label for="title">Headline</label>
                                {{ form.title }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="large-12 columns">
                            <div class="large-12 columns">
                                <label for="request">Description</label>
                                {{ form.request }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="large-12 columns">
                            <div class="large-12 columns">
                                <label for="request">Document (Optional):</label>
                                {{ form.document }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="large-12 columns">
                            <div class="large-3 columns">
                                <label for="start_time">Anonymous</label>
                                {{ form.anonymous }}
                            </div>
                            <div class="large-3 columns">
                                <label for="start_time">Start Date</label>
                                {{ form.start_time }}
                            </div>
                            <div class="large-3 pull-3 columns">
                                <label for="due_by">End Date</label>
                                {{ form.due_by }}
                            </div>
                        </div>
                    </div>
                    <div class="row right">
                        <button type="submit" id="create-button" class="button-important [radius small round]">CREATE
                        </button>
                    </div>
                </form>
            </article>
        </div>
    </div>
    <div class="light-box" id="start-create">
        <i class="fa fa-times-circle-o close"
           style="margin-top: 7px; font-size: 1.5em; margin-right: 10px; float: right"></i>

        <div class="row text-center large-centered extra-top-small-margin margin-extra-bottom">
            <div class="large-12 columns">
                <div class="row">
                    <div class="large-centered large-10 columns">
                        You are now ready to start requesting as you see fit!
                    </div>
                </div>
                <div class="row">
                    <div class="large-centered large-10 columns">
                        <button class="right close extra-top-margin button-important">Done</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Row -->
{% endblock %}
{% block additionalScripts %}
    <link href="{% static 'css/chosen.min.css' %}" rel="stylesheet"/>
    <script src="{% static 'js/chosen.jquery.js' %}"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
    <script>
        $(function () {
            $('#sign-up').remove();
            var $date = $(".date-class");
            $date.datepicker({'changeMonth': true, 'changeYear': true, 'minDate': '+0d'});
            $($date[0]).datepicker("setDate", new Date("{{ form.start_time.value }}"));
            //$('#ui-datepicker-div').hide();

            $('#id_groups').prepend('<option value="-1">No thanks, send to all</option>');
            $('#id_groups').chosen({max_selected_options: 1});

            if (RegExp('multipage', 'gi').test(window.location.search)) {
                function intro() {
                    var intro = introJs();
                    intro.setOptions({
                        steps: [
                            {
                                element: document.querySelector('#create-input'),
                                intro: 'Fill in the following fields to start your request',
                                position: 'top'
                            },
                            {
                                element: document.querySelector('#create-button'),
                                intro: 'Click "Create" and so you can post your request',
                                position: 'top'
                            }
                        ],
                        doneLabel: 'Next'
                    });

                    intro.start();
                    intro.oncomplete(function () {
                        window.location.href = '{% url 'request:view_sample' %}?multipage=true';
                    });
                }

                intro();
            }

            if (RegExp('start', 'gi').test(window.location.search)) {
                $('#start-create').lightbox_me({centered: true});
            }
        });
    </script>
    <script>
        $(function () {
            {% for field in form %}
                {% if field.errors %}
                    $("#{{ field.auto_id }}").addClass('error-input');
                {% endif %}
            {% endfor %}
        });
    </script>
{% endblock %}
