{% extends 'base.html' %}
{% load staticfiles %}
{% block additionalHeaders %}
    <link href="//code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" rel="stylesheet"/>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
{% endblock %}
{% block content %}
    {% include 'nav-bar.html' %}
    <div class="row extra-top-margin">
        <div class="large-12 columns" role="content">
            <article>
                <h2>Create Request</h2>
                <hr/>
                <form action="" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row">
                        <div class="small-12 large-6 columns">
                            <label for="category">Category</label>
                            {{ form.category }}
                        </div>
                        <div class="small-12 large-6 columns">
                            <label for="company">Company</label>
                            {{ form.company }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="large-6 columns">
                            <label for="city">City</label>
                            {{ form.city }}
                        </div>
                        <div class="large-6 columns">
                            <label for="commission-start">Commission</label>

                            <div class="row extra-top-mini-margin collapse">
                                <div class="large-1 small-1 columns">
                                    <span class="prefix">$</span>
                                </div>
                                <div class="large-4 small-4 columns">
                                    {{ form.commission_start }}
                                </div>
                                <div class="large-1 small-1 columns text-center vertical">
                                    to
                                </div>
                                <div class="large-1 small-1 columns">
                                    <span class="prefix">$</span>
                                </div>
                                <div class="large-5 small-5 columns">
                                    {{ form.commission_end }}
                                </div>
                            </div>
                        </div>
                    </div>
                    {% if user.user_profile.get.plan == 2 or user.groups.all.count != 0 %}
                        <div class="row">
                            <div class="large-12 columns">
                                <div class="large-12 columns">
                                    <label for="groups">Send to only Groups:</label>
                                    {{ form.groups }}
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    <div class="row">
                        <div class="large-12 columns">
                            <label for="title">Headline</label>
                            {{ form.title }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="large-12 columns">
                            <label for="request">Description</label>
                            {{ form.request }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="large-12 columns">
                            <label for="request">Document (Optional):</label>
                            {{ form.document }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="large-3 columns">
                            <label for="start_time">Anonymous</label>
                            {{ form.anonymous }}
                        </div>
                        <div class="large-3 columns">
                            <label for="start_time">Start Date</label>
                            <input id="start_time" name="start_time" class="date-class"
                                   value="{{ form.fields.start_time.initial|date:"M/d/Y" }}"/>
                        </div>
                        <div class="large-3 pull-3 columns">
                            <label for="due_by">End Date</label>
                            <input id="due_by" name="due_by" class="date-class"
                                   value="{{ form.fields.due_by.initial }}"/>
                        </div>
                    </div>
                    <div class="row right">
                        <button type="submit" class="button-important [radius small round]">EDIT</button>
                    </div>
                </form>
            </article>
        </div>
    </div>
    <!-- End Row -->
{% endblock %}
{% block additionalScripts %}
    <script>
        $(function () {
            var $date = $(".date-class");
            $date.datepicker();
            $($date[0]).datepicker("setDate", new Date("{{ form.fields.start_time.initial }}"));
            $($date[1]).datepicker("setDate", new Date("{{ form.fields.due_by.initial }}"));
            {% for field in form %}
                {% if field.errors %}
                    $("#{{ field.auto_id }}").addClass('error-input');
                {% endif %}
            {% endfor %}
        });
    </script>
{% endblock %}

