{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
    {% include 'nav-bar.html' %}
    <div class="row extra-top-margin">
        <div class="large-12 columns" role="content">
            <article>
                <h2>Create Request</h2>
                <hr/>
                <form action="" method="POST">
                    {% csrf_token %}
                    <div class="row">
                        <div class="small-12 large-6 columns">
                            <label for="category">Category</label>
                            <select id="category" name="category">
                            </select>
                        </div>
                        <div class="small-12 large-6 columns">
                            <label for="company">Company</label>
                            <input id="company" name="company" value="{{ form.fields.company.initial }}">
                        </div>
                    </div>
                    <div class="row">
                        <div class="large-6 columns">
                            <label for="city">City</label>
                            <input id="city" name="city" value="{{ form.fields.city.initial }}">
                        </div>
                        <div class="large-6 columns">
                            <label for="commission-start">Commission</label>

                            <div class="row extra-top-mini-margin collapse">
                                <div class="large-1 small-1 columns">
                                    <span class="prefix">$</span>
                                </div>
                                <div class="large-4 small-4 columns">
                                    <input type="text" id="commission-start" name="commission_start"
                                           value="{{ form.fields.commission_start.initial|floatformat }}">
                                </div>
                                <div class="large-1 small-1 columns text-center vertical">
                                    to
                                </div>
                                <div class="large-1 small-1 columns">
                                    <span class="prefix">$</span>
                                </div>
                                <div class="large-5 small-5 columns">
                                    <input type="text" id="commission-end" name="commission_end"
                                           value="{{ form.fields.commission_end.initial|floatformat }}"></div>
                            </div>
                        </div>
                    </div>
                    {% if user.user_profile.get.plan == 2 or user.groups.all.count != 0 %}
                        <div class="row">
                            <div class="large-12 columns">
                                <div class="large-12 columns">
                                    <label for="groups">Send to only Groups:</label>
                                    {{ form.groups }}
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    <div class="row">
                        <div class="large-12 columns">
                            <label for="title">Headline</label>
                            <input id="title" name="title" value="{{ form.fields.title.initial }}"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="large-12 columns">
                            <label for="request">Description</label>
                            <textarea id="request" name="request">{{ form.fields.request.initial }}</textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="large-3 columns">
                            <label for="start_time">Start Date</label>
                            <input id="start_time" name="start_time" value="{{ form.fields.start_time.initial }}"/>
                        </div>
                        <div class="large-3 columns">
                            <label for="due_by">End Date</label>
                            <input id="due_by" name="due_by" value="{{ form.fields.due_by.initial }}"/>
                        </div>
                    </div>
                    <div class="row right">
                        <button type="submit" class="button-important [radius small round]">CREATE</button>
                    </div>
                </form>
            </article>
        </div>
    </div>
    <!-- End Row -->
{% endblock %}
{% block additionalScripts %}
{% endblock %}

