{% extends 'base.html' %}
{% load staticfiles %}
{% load mathfilters %}
{% block startHeaders %}
{% endblock %}
{% block content %}
    <div class="large-9 columns">
        <div class="row main-content-top">
            <div class="large-6 columns">
                <h2 class="top-title"><span class="title-icon"><i
                        class="icon-reorder"></i></span>{{ request_your.title }}</h2>
            </div>
            <div class="large-6 columns">
                <ul class="breadcrumbs right">
                    <li><a href="/">Home</a></li>
                    <li><a href="{% url 'request:view_your' %}">Your Requests</a></li>
                    <li class="current">{{ request_your.title }}</li>
                </ul>
            </div>
        </div>
        <div class="row main-content">
            <div class="large-12 columns">

                <h3 class="color">Request</h3>

                <div class="large-6 columns">
                    <div class="rows">
                        <div class="panel">
                            <strong>Category: </strong>{{ request_your.category }}
                        </div>
                        <div class="panel">
                            <strong>Looking For: </strong>{{ request_your.title }}
                        </div>
                        <div class="panel">
                            <strong>Description of Request: </strong>{{ request_your.request }}
                        </div>
                        <div class="panel">
                            <strong>Due In: </strong>{{ request_your.due_by|timeuntil }}
                        </div>
                        <div class="panel">
                            <strong>Reward: </strong>{{ request_your.reward }} Points
                        </div>
                        {% if user == request_your.user %}
                            <a class="button" href="{% url 'request:edit' request_your.id %}">Edit</a>
                        {% elif not have_responded %}
                            <a class="button" href="{% url 'response:create' request_your.id %}">Respond</a>
                        {% elif have_responded %}
                            <div class="color panel">
                                <strong>You have already responded!</strong></div>
                        {% endif %}
                    </div>
                </div>
                <div class="large-6 columns" style="margin-top: -50px">
                    <h3 class="color" style="margin-left: -25px">Responses</h3>

                    <div class="rows">
                        {% for response_to in responses %}
                            <div class="panel">
                                <strong>{% if not response_to.anon %}
                                    <a href="{% url 'user:user' response_to.user.id %}">{{ response_to.user.username }}
                                    </a>{% else %}Anonymous{% endif %} is offering
                                    at: </strong> {{ response_to.price }} Points
                                {% if user == request_your.user %}
                                    {% if user != response_to.buyer and response_to.price != 0 %}
                                        <a href="#" class="button pull-right" data-dropdown="contentDrop"
                                           style="margin-top: -10px">Options</a>
                                        <div id="contentDrop" data-dropdown-content class="f-dropdown content">
                                            {% if not response_to.prev_negotiated or "negotiate_more_than_once" in features %}
                                                {% if not response_to.counter_offer %}
                                                    <input type="button" class="button" value="Negotiate"
                                                           onclick="$('#id_negotiate').val({{ response_to.id }});$('#offer').val({{ response_to.price }});$('#negotiate-form').lightbox_me({centered: true});">
                                                {% else %}
                                                    <strong>Negotiated at: $</strong> {{ response_to.counter_offer }}
                                                {% endif %}
                                            {% endif %}

                                            <input type="submit" class="button" value="Buy"
                                                   onclick="$('#warning-number').text({{ response_to.price }});$('#form-buy').attr('action', '{% url 'response:buy' response_to.id %}');$('#warning-form').lightbox_me({centered:true})"
                                                   id="buy_{{ response_to.id }}">
                                        </div>
                                    {% else %}
                                        <a class="button pull-right" style="margin-top: -10px"
                                           href="{% url 'response:view_your_id' response_to.id %}">View</a>
                                    {% endif %}
                                {% endif %}
                                <br>
                                <div class="row">
                                    {{ response_to.preview }}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div id="warning-form" title="Are you sure?" data-role="none"
             style="display: none; background: #eef2f7; padding: 10px">
            Are you sure you want to buy the response for <span id="warning-number">0</span> points?
            <form id="form-buy"
                  action=""
                  method="post">
                {% csrf_token %}
                <button type="submit" style="margin-top: 10px">Yes</button>
                <button class="close" type="button">No</button>
            </form>

        </div>
        <div id="negotiate-form" title="Counter Offer" data-role="none"
             style="display: none; background: #eef2f7; padding: 10px">
            <h3>Negotiate</h3>

            <form data-role="none" action="{% url 'response:negotiate' %}" method="post">
                {% csrf_token %}
                <fieldset data-role="none">
                    <input type="hidden" value="" id="id_negotiate" name="id">
                    <label for="offer" data-role="none">Counter Offer: </label>
                    <input type="text" id="offer" name="offer">
                    <label for="comments" data-role="none">Comment</label>
                    <textarea id="comments" data-role="none" name="comments"></textarea>
                    <input type="submit" value="Submit" class="button">
                </fieldset>
            </form>
        </div>
    </div>
    <!-- End Row -->
{% endblock %}
{% block additionalScripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-switch/1.5/bootstrap-switch.min.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css"/>
    <script src="https://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    <script type="text/javascript">
        $(function () {
            var $offer = $("#offer");
            $offer.spinner({
                min: 0,
                step: 0.25,
            });
            $offer.on("spinchange", function (event, ui) {
                $(this).spinner("value", this.value);
            });
        });
    </script>
{% endblock %}
