{% extends 'base.html' %}
{% load staticfiles %}
{% load is_list %}
{% block content %}
    <div class="large-9 columns">
        <div class="row main-content-top">
            <div class="large-6 columns">
                <h2 class="top-title"><span class="title-icon"><i class="icon-reorder"></i></span>Other's Requests</h2>
            </div>
            <div class="large-6 columns">
                <ul class="breadcrumbs right">
                    <li><a href="/">Home</a></li>
                    <li class="current"><a href="#">All Requests</a></li>
                </ul>
            </div>
        </div>
        <div class="row main-content">
            <div class="large-12 columns">
                <div class="row">
                    <div class="large-12 columns">
                        <h3>Requests</h3>

                        <div style="margin: 0 auto; padding: 10px">
                            <button id="filter_button" class="button">Filter</button>
                        </div>
                        <div class="row">
                            <ul class="portfolio-content">
                                {% for request_someone in requests %}
                                    <li>
                                        <div class="panel">
                                            {% if "bold" in features %}<strong>{% endif %}<a
                                                    {% if "larger_font" in features %}style="font-size: 15px" {% endif %}
                                                    href="{% url 'request:view_your_id' request_someone.id %}">{{ request_someone }}</a>
                                            {% if "bold" in features %}</strong>{% endif %}
                                            By: <strong>{% if not request_someone.anon %}<a
                                                href="{% url 'user:user' request_someone.user.id %}">
                                            {{ request_someone.user.username }}</a>{% else %}Anonymous{% endif %}
                                        </strong>
                                            with Max Reward
                                            <strong>${{ request_someone.reward }}</strong>
                                            {% if not request_someone.response_set.all|in_list_user:request.user %}
                                                <a class="button pull-right" style="margin-top: -6px"
                                                   href="{% url 'response:create' request_someone.id %}">Respond To</a>
                                            {% else %}
                                                <div class="color pull-right">
                                                    <strong>You have already responded!</strong></div>
                                            {% endif %}
                                        </div>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="display: none; padding: 10px" id="filter">
        <form id="filter_form" action="" method="get">
            {{ requests.form.as_p }}
            <input type="submit" value="Filter"/>
        </form>
    </div>
    <!-- End Row -->
{% endblock %}
{% block additionalScripts %}
    <script type="text/javascript" src="{% static 'js/jquery.quicksand.js' %}"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#filter_button').click(function () {
                $('#filter').lightbox_me({centered: true})
            });
        });
    </script>
{% endblock %}
