{% extends 'base.html' %}
{% load staticfiles %}
{% load is_list %}
{% block content %}
    {% include 'nav-bar.html' %}
    <div class="row extra-top-margin">
        <div class="large-12 columns" role="content">
            <!-- Main Page Content and Sidebar -->
            <dl class="tabs" data-tab>
                <dd class="active"><a href="{% url 'request:view_all' %}">Other's Request</a></dd>
                <dd><a href="{% url 'request:view_connections' %}">Connection's Requests</a></dd>
            </dl>
            <div class="tabs-content">
                <div class="content" id="panel2-1">
                </div>
                <div class="content active" id="panel2-2">
                    <hr/>
                    {% for request in requests %}
                        <div class="panel">
                            <div class="row">
                                <div class="large-12 columns">
                                    <div class="large-10 columns">
                                        <div class="row large-link large-font" style="line-height: 2rem;"><a
                                                href="{% url 'request:view_your_id' request.id %}">{{ request.title }}</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    <div class="pagination">
                    <span class="step-links">
                        {% if requests.has_previous %}
                            <a href="?page={{ requests.previous_page_number }}">previous</a>
                        {% endif %}

                        <span class="current">
                            Page {{ requests.number }} of {{ requests.paginator.num_pages }}
                        </span>

                        {% if requests.has_next %}
                            <a href="?page={{ requests.next_page_number }}">next</a>
                        {% endif %}
                    </span>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- End Row -->
{% endblock %}
{% block additionalScripts %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('#filter_button').click(function () {
                $('#filter').lightbox_me({centered: true})
            });
        });
    </script>
{% endblock %}
