{% extends 'base.html' %}
{% load staticfiles %}
{% load mathfilters %}
{% block startHeaders %}
{% endblock %}
{% block content %}
    {% include 'nav-bar.html' %}
    <div class="row extra-top-margin">
    <div class="large-12 columns" role="content">
    <article>
    <h2>{{ request_your.title }}</h2>
    <hr/>
    <div class="row">
        <div class="large-12 columns">
            <div class="large-10 columns">
                <div class="large-3 columns">
                    {% if not request_your.anonymous %}
                        <img src="/avatars/{{ request_your.user.user_profile.get.picture }}"/>
                    {% else %}
                        <img src="/avatars/default-avatar.png"/>
                    {% endif %}

                    <div class="grey-font">{% if not request_your.anonymous %}{{ request_your.user.first_name|upper }}
                        {{ request_your.user.last_name|upper }}{% else %}Anonymous{% endif %}</div>
                    {% if request_your.user != user and not request_your.anonymous %}
                        <a href="#" data-dropdown="drop1">
                            <button class="message-button [radius small round] extra-top-small-margin"><span
                                    class="batch">&#xF009 &#xE000</span>Message
                            </button>
                        </a>

                        <div id="drop1" data-dropdown-content class="f-dropdown content">
                            <form action="{% url 'user:create_message' %}" method="post">
                                {% csrf_token %}
                                <input type="hidden" value="{{ request_your.user_id }}" name="to_id">
                                <input type="hidden" value="{{ request_your.id }}" name="request_id">
                                <input type="hidden" value="{% firstof request.path '/' %}" name="next">
                                <input placeholder="Subject" name="subject">
                                <textarea class="message" name="message" placeholder="Message"></textarea>

                                <div class="row">
                                    <div class="large-4 columns">
                                        <button class="orange-button [radius small round]">Send</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    {% elif request_your.user == user and users_id_list %}
                        <a href="#" data-dropdown="drop1">
                            <button class="message-button [radius small round] extra-top-small-margin"
                                    id="messages-alt"><span
                                    class="batch"><i class="fa fa-comments"></i></span>&nbsp;Messages
                            </button>
                        </a>
                        <div id="drop1" data-dropdown-content class="f-dropdown content" style="padding: 0">
                            <div class="off-canvas-wrap">
                                <div class="inner-wrap">
                                    <nav class="tab-bar">
                                        <section class="left-small">
                                            <a class="left-off-canvas-toggle menu-icon"><span></span></a>
                                        </section>

                                        <section class="middle tab-bar-section">
                                            <h1 class="title" id="title">Conversation</h1>
                                        </section>
                                    </nav>

                                    <aside class="left-off-canvas-menu">
                                        <ul class="off-canvas-list" id="users_list">
                                            {% for use_first in users_first_list %}
                                                {% for use_last in users_last_list %}
                                                    {% for use_id in users_id_list %}
                                                        <li><a href="#"
                                                               data-value="{{ use_id }}">{{ use_first }} {{ use_last }}</a>
                                                        </li>
                                                    {% endfor %}
                                                {% endfor %}
                                            {% endfor %}
                                        </ul>
                                    </aside>


                                    <section class="main-section">
                                        <ul class="off-canvas-list" id="entire-list">
                                            {% for mess in messages_list %}
                                                <li class="{% if  mess.message_from_user != user %}{{ mess.message_from_user.id }}{% else %}{{ mess.message_to_user.id }}{% endif %}">{{ mess|safe }}</li>
                                            {% endfor %}
                                        </ul>
                                        <form action="{% url 'user:create_message' %}" method="post">
                                            {% csrf_token %}
                                            <input type="hidden" value="{{ first_id }}" name="to_id"
                                                   id="to_id">
                                            <input type="hidden" value="{{ request_your.id }}" name="request_id">
                                            <input type="hidden" value="{% firstof request.path '/' %}" name="next">
                                            <input placeholder="Subject" name="subject">
                                            <textarea class="message" name="message" placeholder="Message"></textarea>

                                            <div class="row">
                                                <div class="large-4 columns">
                                                    <button class="orange-button [radius small round]">Send</button>
                                                </div>
                                            </div>
                                        </form>
                                    </section>

                                    <a class="exit-off-canvas"></a>

                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>
                <div class="large-9 columns">
                    <div class="row">
                        <div class="large-3 columns">
                            <div class="row titles">
                                Category
                            </div>
                            <div class="row extra-top-small-margin">
                                {{ request_your.category }}
                            </div>
                        </div>
                        <div class="large-3 columns">
                            <div class="row titles">
                                Company
                            </div>
                            <div class="row extra-top-small-margin">
                                {{ request_your.user.user_profile.all.0.company }}
                            </div>
                        </div>
                        <div class="large-3 columns">
                            <div class="row titles">
                                City
                            </div>
                            <div class="row extra-top-small-margin">
                                {{ request_your.city }}
                            </div>
                        </div>
                        <div class="large-3 columns">
                            <div class="row titles">
                                Commission
                            </div>
                            <div class="row extra-top-small-margin">
                                ${{ request_your.commission_start|floatformat }} to
                                ${{ request_your.commission_end|floatformat }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="large-9 columns">
                            <div class="row titles extra-top-margin">
                                Description
                            </div>
                            <div class="row extra-top-small-margin">
                                {{ request_your.request }}
                            </div>
                        </div>
                        <div class="large-3 columns">
                            <div class="row titles extra-top-margin">
                                End Date
                            </div>
                            <div class="row extra-top-small-margin">
                                {{ request_your.due_by }}
                            </div>
                        </div>
                    </div>
                    {% if request_your.document %}
                        <div class="row">
                            <div class="large-9 columns">
                                <div class="row titles extra-top-margin">
                                    Document
                                </div>
                                <div class="row extra-top-small-margin">
                                    <a href="/{{ request_your.document.url }}">{{ request_your.document.name }}</a>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="large-2 columns text-center">
                <div class="row large-text">
                    {{ request_your.response_set.all|length }}
                </div>
                <div class="row extra-top-mini-margin">Responses</div>
                {% if request_your.user == user %}
                    <a href="{% url 'request:edit' request_your.id %}">
                        <button class="trans-button [radius tiny round] extra-top-margin">EDIT</button>
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="large-12 columns"><h3 class="extra-top-margin">Responses</h3></div>
    </div>
    {% for response in responses %}
        <div class="row">
            <div class="row">
                <div class="large-12 columns">
                    <div class="large-2 columns"><img
                            src="/avatars/{{ response.user.user_profile.all.0.picture.name }}"></div>
                    <div class="large-8 columns">
                        <div class="row titles">
                            {{ response.preview }}
                        </div>
                        <div class="row extra-top-small-margin">
                            {{ response.response }}
                        </div>
                    </div>
                    <div class="large-2 columns text-center">
                        {% if response.relevant != None %}
                            <div class="onoffswitch">
                                <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox"
                                       id="myonoffswitch" {% if response.relevant != False %}checked
                                       onclick="window.location.href='{% url 'response:reject' response.id %}'"
                                {% else %}
                                       onclick="window.location.href='{% url 'response:accept' response.id %}'"
                                {% endif %}>
                                <label class="onoffswitch-label" for="myonoffswitch">
                                    <span class="onoffswitch-inner"></span>
                                </label>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% if response.relevant == None %}
                <div class="row">
                    <div class="large-12 columns">
                        <div class="large-4 columns small-8 large-offset-5 large-font green">
                            <div class="right vertical">
                                Was this lead relevant?
                            </div>
                        </div>
                        <div class="large-3 small-2 columns">
                            <div class="row">
                                <div class="large-12 columns">
                                    <div class="large-6 columns">
                                        <button class="trans-button [radius tiny round]"
                                                onclick="window.location.href='{% url 'response:accept' response.id %}'">
                                            YES
                                        </button>
                                    </div>
                                    <div class="large-6 columns zero-padding">
                                        <button class="trans-button [radius tiny round]"
                                                onclick="window.location.href='{% url 'response:reject' response.id %}'">
                                            NO
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% elif response.relevant != None and response.relevant != False %}
                <div class="row extra-top-margin">
                    <div class="large-12 columns">
                        {% if  response.commission_paid == 0 %}
                            <div class="large-2 small-6 columns large-offset-8">
                                <div class="row collapse">
                                    <div class="large-4 small-6 columns">
                                        <span class="prefix">$</span>
                                    </div>
                                    <div class="large-8 small-6 columns" style="margin-top: 0">
                                        <input type="text" id="val_{{ response.id }}" style="height: 40px"
                                               value="{{ request_your.commission_start|floatformat }}">
                                    </div>
                                </div>
                            </div>
                            <div class="large-2 small-6 columns" style="margin-top: 0">
                                <button class="trans-button [radius tiny round]" id="button_{{ response.id }}">
                                    PAY
                                </button>
                                <script>
                                    var string = "#button_{{ response.id }}";
                                    var string2 = "#commission_form";
                                    $(string).click(function () {
                                        var money = $('#val_{{ response.id }}').val();
                                        if (money == 0) {
                                            return;
                                        }
                                        var token = function (res) {
                                            var $input = $('<input type=hidden name=stripeToken />').val(res.id);
                                            $(string2).append($input).submit();
                                        };
                                        $(string2).attr('action', '{% url 'response:commission' response.id %}');
                                        $('#money_form').val(money);
                                        StripeCheckout.open({
                                            key: 'pk_live_XSfFuplH1xG0NftKxK1gVMnJ',
                                            address: false,
                                            amount: money * 100,
                                            currency: 'cad',
                                            name: "Commission",
                                            description: "Pay Commission for {{ response.preview }}",
                                            panelLabel: 'Thank You!',
                                            token: token
                                        });
                                        return false;
                                    });
                                </script>
                            </div>
                        {% else %}
                            <div class="large-2 small-6 columns large-offset-10">
                                <div class="row collapse">
                                    <div class="large-4 columns">
                                        <span class="prefix">$</span>
                                    </div>
                                    <div class="large-8 columns">
                                        <input type="text" id="val_{{ response.id }}" disabled style="height: 40px"
                                               value="{{ response.commission_paid }} PAID">
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            {% endif %}
        </div>
    {% endfor %}
    <form method="post" action="" id="commission_form">{% csrf_token %}<input type="hidden" value="0"
                                                                              id="money_form" name="money_form">
    </form>
    </article>
    </div>
    </div>
    <!-- End Row -->
{% endblock %}
{% block additionalScripts %}
    <script src="{% static 'js/foundation/foundation.offcanvas.js' %}"></script>
    <script>
        $('#messages-alt').click(function () {
            $('.left-off-canvas-toggle').trigger('click');
        });

        {% if request_your.user == user and users_id_list %}
            $('#entire-list').find('li').hide();
            $("." + {{ first_id }}).show();
            $('#users_list').find('li a').click(function () {
                var id = $(this).attr('data-value');
                $('#entire-list').find('li').hide();
                $("." + id).show();
                $('#to_id').val(id);
            });
        {% endif %}
    </script>
{% endblock %}
