.row {
    margin: 0 auto;
}

.button-important {
    background-color: #00A551;
    border-color: #00A551;
    color: #FEFEFE;
    border-radius: 5px;
    min-width: 160px;
    margin: 0;
}

.top-bar-section .button-important {
    background-color: #00A551 !important;
    border-color: #00A551 !important;
    color: #FEFEFE;
    border-radius: 5px;
    min-width: 160px;
    position: relative;
}

.top-bar-section ul li:first-child {
    margin-right: 75px;
}

.top-bar {
    background: darkgrey;
    height: 100px;
}

.inner-bar {
    max-width: 62.5em;
    margin: 0 auto;
    position: relative;
    top: 25%;
}

.top-bar-section ul {
    background: none;
}

.top-bar-section ul li a {
    margin-right: 10px;
}

.top-bar-section ul li.active a {
    color: #494949;
    background: none;
}

.top-bar-section ul li.active a:hover {
    background: none;
}

.top-bar-section ul li a:not(.button) {
    background: none;
}

.top-bar-section ul li a:not(.button):hover {
    color: #494949;
    background: none;
}

.top-bar-section ul li a:not(.button .active) {
    color: #B1AEAC;
    background: none;
}

.top-bar-section ul li a:not(.button .active):hover {
    color: #494949;
    background: none;
}

.active a {
    font-weight: bold;
}

.footer-section  a {
    color: #CCCCCC;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 0.8125em;
    font-weight: bold;
}

h2 {
    color: #4B4B4B;
    margin-bottom: 10px;
}

h2 + hr {
    margin-top: 0;
    margin-bottom: 30px;
}

form label {
    font-weight: bolder;
    color: #4B4B4B;
    font-size: 1.0em;
    margin-bottom: 5px;
}

form input {
    width: 100%;
    border-radius: 5px;
    background-color: #F6F6F6;
    border: 2px solid #CCCCCC;
    height: 40px;
}

form select {
    width: 100%;
    border-radius: 5px;
    background-color: #F6F6F6;
    border-color: #CCCCCC;
    border-width: 2px;
    height: 40px;
}

form textarea {
    width: 100%;
    border-radius: 5px;
    background-color: #F6F6F6;
    border-color: #CCCCCC;
    border-width: 2px;
    height: 100px;
    resize: none;
}

form .row:not(:first-child) {
    margin-top: 20px;
}

.top-bar-section ul li a.invite-button {
    background-color: #00A551;
    border-color: #00A551;
    color: #FEFEFE;
    border-radius: 5px;
    text-align: center;
}

.top-bar-section ul li a.invite-button:hover {
    background-color: #00A551;
    border-color: #00A551;
}

.extra-top-margin {
    margin-top: 20px;
}

.sub-button {
    background: #F7F7F7;
    border-color: #EDEDED;
    border-width: 2px;
    border-radius: 5px;
    color: #00A551;
}

.sub-button:hover {
    background: #F7F7F7;
    border-color: #EDEDED;
    color: #4B4B4B;
}

.sub-button:focus {
    background: #F7F7F7;
    border-color: #EDEDED;
    color: #4B4B4B;
}

.side-bar .side-panel:first-child {
    margin-top: 180px;
    margin-bottom: 40px;
}

.side-panel {
    border: 2px solid #CCCCCC;
}

.bar-title {
    background: #F6F6F6;
    color: #4B4B4B;
    text-align: center;
    padding: 10px 0;
    font-weight: bold;
    border-bottom: 2px solid #CCCCCC;
}

.bar-content {
    color: #4B4B4B;
    text-align: center;
    font-weight: bold;
    font-size: 2em;
    margin-top: 10px;
    padding: 10px 0;
}