{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
    {% include 'nav-bar.html' %}
    <div class="row extra-top-margin">
        <div class="large-12 columns" role="content">
            <article>
                <h2>About MeHelpYou</h2>
                <hr/>
                <div class="row">
                    <div class="large-12 columns">
                        <img src="http://placehold.it/1250x600">
                    </div>
                </div>
                <div class="row" style="margin-top: 40px">
                    <div class="large-12 columns" style="background: #fff">
                        <h3>MeHelpYou's Story</h3>
                        <hr>
                        <p>MeHelpYou aims to help professionals and businesses leverage their social networks and
                            connections to the fullest. MeHelpYou believes that much of potential of obtaining
                            information and leads of social networks is untapped. MeHelpYou was founded by Aazar Zafar,
                            a professional investment manager and an entrepreneur, and Tejas Mehta, an upcoming
                            entrepreneur and part of the Next36 2014 cohort.</p>
                    </div>
                </div>
                <div class="row" style="margin-top: 40px">
                    <div class="large-12 columns" style="background: #fff">
                        <h3>MeHelpYou Founders</h3>
                        <hr>
                        <div class="row">
                            <div class="large-6 columns" style="text-align: center">
                                <img src="http://placehold.it/600x600">
                                <br>
                                <strong>Aazar Zafar</strong>
                            </div>
                            <div class="large-6 columns" style="text-align: center">
                                <img src="http://placehold.it/600x600">
                                <br>
                                <strong>Tejas Mehta</strong>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </div>
{% endblock %}