{% load staticfiles %}
<html>
<head>
    {% include 'header.html' %}
    {% block additionalHeaders %}
        <link href="{% static 'css/auth-buttons.css' %}" rel="stylesheet">
    {% endblock %}
</head>
<body>
<!-- Main Page Content and Sidebar -->
{% block content %}
    <div class="top-cover">
        <div style="background: #fff; width: 100%; position: fixed; z-index: 199">
            <div class="row">
                <div class="right" style="margin-top: 30px !important; padding: 10px 0"><a href="#"
                                                                                           class="login-button">LOG
                    IN</a></div>
                <img class="logo"
                     style="width: 205px; margin-top: 0; border-right: 1px solid #e1e1e1; padding: 10px 100px 10px 0; height: 104px; image-rendering: crisp-edges"
                     src="{% static 'images/mehelpyou-trans.png' %}">
            </div>
        </div>
        <div style="position: absolute; margin-top: -20px; left: 20px; top: 380px;"
             class="tp-leftarrow tparrows default"></div>
        <div style="position: absolute; margin-top: -20px; right: 20px; top: 380px;"
             class="tp-rightarrow tparrows default"></div>
        <div class="row">
            <div class="text-center centered" style="margin-top: 250px">
                <h1 class="title text-center centered">PROVIDE LEADS AND EARN MONEY</h1>
                <button id="sign-button" class="extra-top-small-margin button-important [radius
                round small]">GET STARTED
                </button>
                <div class="extra-top-small-margin">
                    <div class="white-font">If you're a business, <a href="#" style="color: navy" id="sign-up-business">sign
                        up here.</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="middle-cover">
        <div class="row margin-extra-bottom">
            <div class="row extra-top-margin text-center collapse margin-extra-bottom">
                <h2 class="extra-top-xlarge-margin">HOW IT WORKS</h2>

                <div
                        class="large-12 med-width columns medium-font text-center small-centered extra-top-margin margin-extra-bottom">
                    <div class="large-4 columns">
                        <span class="circle">1</span>

                        <h3>Sign up and see<br>lead requests</h3>
                    </div>
                    <div class="large-4 columns">
                        <span class="circle">2</span>

                        <h3>Provide a suitable<br>lead to a business<br> or individual</h3>
                    </div>
                    <div class="large-4 columns">
                        <span class="circle">3</span>

                        <h3>Earn a commission<br> for every successful<br> lead you provide</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="extra-top-margin" id="cards">
    <div style="position: relative; margin-top: -20px; left: 20px; top: 380px;display: inline-block;"
         class="tp-leftarrow tparrows default"></div>
    <div style="position: relative; margin-top: -20px;float: right;right: 20px;display: inline-block; top: 380px;"
         class="tp-rightarrow tparrows default"></div>
    <div class="set">
        <div class="row text-center centered">
            <div class="row extra-top-margin text-center">
                <h2 class="extra-top-xlarge-margin">COMPANIES CURRENTLY USING <br>MeHelpYou</h2>

                <div class="flip">
                    <div class="card">
                        <div class="face front">
                            <img src="{% static 'images/abrahams.png' %}">
                        </div>
                        <div class="face back">
                            <div class="text-left">
                                <strong>{{ featured_requests.0.company }}</strong><br><br>

                                <div class="back-text">
                                    {{ featured_requests.0.title }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="flip">
                    <div class="card">
                        <div class="face front">
                            <img src="{% static 'images/srjlogo.png' %}">
                        </div>
                        <div class="face back">
                            <div class="text-left">
                                <strong>{{ featured_requests.1.company }}</strong><br><br>

                                <div class="back-text">
                                    {{ featured_requests.1.title }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="flip">
                    <div class="card">
                        <div class="face front">
                            <img src="{% static 'images/spare.png' %}">
                        </div>
                        <div class="face back">
                            <div class="text-left">
                                <strong>{{ featured_requests.2.company }}</strong><br><br>

                                <div class="back-text">
                                    {{ featured_requests.2.title }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="row text-center centered margin-extra-bottom extra-top-xlarge-margin">

                <div class="flip">
                    <div class="card">
                        <div class="face front">
                            <img src="{% static 'images/belkin.png' %}">
                        </div>
                        <div class="face back">
                            <div class="text-left">
                                <strong>{{ featured_requests.3.company }}</strong><br><br>

                                <div class="back-text">
                                    {{ featured_requests.3.title }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="flip">
                    <div class="card">
                        <div class="face front">
                            <img src="{% static 'images/edwardjones.png' %}">
                        </div>
                        <div class="face back">
                            <div class="text-left">
                                <strong>{{ featured_requests.4.company }}</strong><br><br>

                                <div class="back-text">
                                    {{ featured_requests.4.title }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="flip">
                    <div class="card">
                        <div class="face front">
                            <img src="{% static 'images/shop.png' %}">
                        </div>
                        <div class="face back">
                            <div class="text-left">
                                <strong>{{ featured_requests.5.company }}</strong><br><br>

                                <div class="back-text">
                                    {{ featured_requests.5.title }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="set" style="display: none">
        <div class="row text-center centered">
            <div class="row extra-top-margin text-center">
                <h2 class="extra-top-xlarge-margin">COMPANIES CURRENTLY USING <br>MeHelpYou</h2>

                <div class="flip">
                    <div class="card">
                        <div class="face front">
                            <img src="{% static 'images/premierrealty.png' %}">
                        </div>
                        <div class="face back">
                            <div class="text-left">
                                <strong>{{ featured_requests.6.company }}</strong><br><br>

                                <div class="back-text">
                                    {{ featured_requests.6.title }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="flip">
                    <div class="card">
                        <div class="face front">
                            <img src="{% static 'images/native_touch_logo.svg' %}"
                                 style="width: 100%;height: 100%;padding: 20px;">
                        </div>
                        <div class="face back">
                            <div class="text-left">
                                <strong>{{ featured_requests.7.company }}</strong><br><br>

                                <div class="back-text">
                                    {{ featured_requests.7.title }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="flip">
                    <div class="card">
                        <div class="face front">
                        </div>
                        <div class="face back">
                            <div class="text-left">
                                <strong></strong><br><br>

                                <div class="back-text">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="row text-center centered margin-extra-bottom extra-top-xlarge-margin">

                <div class="flip">
                    <div class="card">
                        <div class="face front">
                        </div>
                        <div class="face back">
                            <div class="text-left">
                                <strong></strong><br><br>

                                <div class="back-text">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="flip">
                    <div class="card">
                        <div class="face front">
                        </div>
                        <div class="face back">
                            <div class="text-left">
                                <strong></strong><br><br>

                                <div class="back-text">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="flip">
                    <div class="card">
                        <div class="face front">
                        </div>
                        <div class="face back">
                            <div class="text-left">
                                <strong></strong><br><br>

                                <div class="back-text">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <div class="bottom-cover">
        <div class="row text-center">
            <h2 class="extra-top-xlarge-margin white-font">TURN CONTACTS INTO LEADS</h2>
            <h4 class="white-font">Earn a commission for every successful lead you<br>provide</h4>

            <div class="row margin-extra-bottom">
                <div class="large-12 med-width columns white-font small-centered extra-top-margin">
                    <div class="large-4 columns left-text">
                        <div class="batch medium-font"><i class="fa fa-2x fa-globe"></i></div>
                        <br><br>USE YOUR NETWORK<br>

                        <div class="extra-top-mini-margin">
                            <hr class="bold">
                        </div>
                        You have lots of friends, acquaintances and contacts who are looking for referrals
                    </div>
                    <div class="large-4 columns left-text">
                        <div class="batch medium-font"><i class="fa fa-2x fa-book"></i></div>
                        <br><br>KEEP CONTACTS PRIVATE<br>

                        <div class="extra-top-mini-margin">
                            <hr class="bold">
                        </div>
                        Only respectfully share a contacts details once you have determined they need the product /
                        service.
                    </div>
                    <div class="large-4 columns left-text">
                        <div class="batch medium-font"><i class="fa fa-2x fa-money"></i></div>
                        <br><br>EARN EXTRA MONEY<br>

                        <div class="extra-top-mini-margin">
                            <hr class="bold">
                        </div>
                        YOU make money for the referral, CUSTOMER gets trusted referral for their need, COMPANY gets a
                        new
                        customer.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row extra-top-margin">
        <div class="row extra-top-margin text-center">
            <h2>Sign Up For MeHelpYou</h2>

            <button class="button-start" id="other-start">GET STARTED</button>
            <div class="row extra-top-xlarge-margin margin-extra-bottom">
                &copy; 2014 MeHelpYou, INC. ALL RIGHTS RESERVED
            </div>
        </div>
    </div>
{% endblock %}
{% include 'footer.html' %}
<div id="login-up" class="light-box">
    <i class="fa fa-times-circle-o close"
       style="margin-top: 7px; font-size: 1.5em; margin-right: 10px; float: right"></i>

    {% csrf_token %}
    <div class="title-light">
        Login In
    </div>
    <div class="row">
        <div class="row centered text-center">
            <form action="" method="post">
                {% csrf_token %}
                <div class="row">
                    <div class="columns">
                        <input type="text" placeholder="Username" name="username"
                                {% if username %} class="error" {% endif %}>
                        {% if username %}
                            <small class="error">Invalid Username</small>{% endif %}
                    </div>
                </div>
                <div class="row">
                    <div class="columns">
                        <input type="password" placeholder="Password" name="password"
                                {% if password %} class="error" {% endif %}>
                        {% if password %}
                            <small class="error">Invalid Password</small>{% endif %}
                    </div>
                </div>
                <input type="hidden" value="login" name="type">

                <div class="row">
                    <div class="columns">
                        <button type="submit" class="button button-important" name="send"
                                id="send">LOGIN
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <fieldset
                style="border-top: 2px solid #e9e9e9; border-bottom: none; border-left: none; border-right: none; display: block; text-align: center; margin-top: 0.5em">
            <legend style="padding: 5px 10px;">OR</legend>
        </fieldset>
        <div class="text-center">
            <div>
                <a class="btn-auth btn-facebook large" href="{% url 'socialauth_begin' 'facebook' %}">
                    Login with <b>Facebook</b>
                </a>
            </div>
            <div class="extra-top-small-margin">
                <a class="btn-auth btn-twitter large" href="{% url 'socialauth_begin' 'twitter' %}">
                    Login with <b>Twitter</b>
                </a>
            </div>
            <div class="extra-top-small-margin">
                <a class="btn-auth btn-linkedin large" href="{% url 'socialauth_begin' 'linkedin' %}">
                    Login with <b>LinkedIn</b>
                </a>
            </div>
            <div class="extra-top-small-margin">
                <a class="btn-auth btn-google large" href="{% url 'socialauth_begin' 'google-oauth2' %}">
                    Login with <b>Google</b>
                </a>
            </div>
        </div>
    </div>
</div>
<div id="sign-up" class="light-box">

    <i class="fa fa-times-circle-o close"
       style="margin-top: 7px; font-size: 1.5em; margin-right: 10px; float: right"></i>

    <div class="title-light">
        Sign Up
    </div>
    <div class="row">
        <div class="text-center">
            <div>
                <a class="btn-auth btn-facebook large" href="{% url 'socialauth_begin' 'facebook' %}">
                    Sign Up with <b>Facebook</b>
                </a>
            </div>
            <div class="extra-top-small-margin">
                <a class="btn-auth btn-twitter large" href="{% url 'socialauth_begin' 'twitter' %}">
                    Sign Up with <b>Twitter</b>
                </a>
            </div>
            <div class="extra-top-small-margin">
                <a class="btn-auth btn-linkedin large" href="{% url 'socialauth_begin' 'linkedin' %}">
                    Sign Up with <b>LinkedIn</b>
                </a>
            </div>
            <div class="extra-top-small-margin">
                <a class="btn-auth btn-google large" href="{% url 'socialauth_begin' 'google-oauth2' %}">
                    Sign Up with <b>Google</b>
                </a>
            </div>
        </div>

        <fieldset
                style="border-top: 2px solid #e9e9e9; border-bottom: none; border-left: none; border-right: none; display: block; text-align: center; margin-top: 0.5em">
            <legend style="padding: 5px 10px;">OR</legend>
        </fieldset>
        <div class="row text-center">
            <form method="POST" action="">
                <input type="hidden" value="sign-up">

                <div class="row">
                    {% csrf_token %}
                    {% for field in form %}
                        <div class="row">
                            <div class="columns">
                                {{ field.errors }}
                                {{ field }}
                            </div>
                        </div>
                    {% endfor %}
                    <input type="hidden" value="sign-up" name="type">

                    <div class="row">
                        <div class="columns">
                            <input type="submit" class="button right button-important" value="Sign Up" name="send"
                                   id="send"/>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div id="messages" class="light-box">
    <div class="title-light">
        Message
        <div class="right close" style="padding-right: 10px">
            X
        </div>
    </div>
    {% for message in messages %}
        <div class="row content">
            {{ message }}
        </div>
    {% endfor %}
</div>
</body>
<script type="text/javascript" src="{% static 'js/jquery.lightbox_me.js' %}"></script>
{% block additionalScripts %}
    <script>
        $(function () {
            $('.login-button').click(function () {
                $('#login-up').lightbox_me({centered: true});
            });
            $('#sign-button').click(function () {
                $('#sign-up').lightbox_me({centered: true});
            });
            $('#sign-up-business').click(function () {
                $('#sign-up').lightbox_me({centered: true});
            });
            $('#other-start').click(function () {
                $('#sign-up').lightbox_me({centered: true});
            });
            $('input, textarea').placeholder();
            {% if messages %}
                $('#messages').lightbox_me({centered: true});
            {% endif %}
        });
    </script>
{% endblock %}
<script src="{% static 'js/foundation.min.js' %}"></script>
<script src="{% static 'js/vendor/custom.modernizr.js' %}"></script>
<script src="{% static 'js/foundation/foundation.dropdown.js' %}"></script>
<script src="{% static 'js/foundation/foundation.topbar.js' %}"></script>
<script src="{% static 'js/foundation/foundation.accordion.js' %}"></script>
<script src="https://checkout.stripe.com/v2/checkout.js"></script>
<script src="{% static 'js/intro.js' %}"></script>
<script src="{% static 'js/jquery.placeholder.js' %}"></script>
<script>
    $(function () {
        $(document).foundation();
    });

    function preload(arrayOfImages) {
        $(arrayOfImages).each(function () {
            $('<img/>')[0].src = this;
            // Alternatively you could use:
            // (new Image()).src = this;
        });
    }

    var urls = ['https://s3.amazonaws.com/ooomf-com-files/lIZrwvbeRuuzqOoWJUEn_Photoaday_CSD%20(1%20of%201)-5.jpg',
        '{% static 'images/handshake.png' %}',
        'https://s3.amazonaws.com/ooomf-com-files/yvDPJ8ZSmSVob7pRxIvU_IMG_40322.jpg',
        '{% static 'images/IMG_5533-1300x866.jpg' %}',
        '{% static 'images/IMG_7460-1300x866.jpg' %}',
        '{% static 'images/Antique-Residence-1300x866.jpg' %}',
        '{% static 'images/9814538046_86523fdb81_o-1300x870.jpg' %}',
        '{% static 'images/tree-sky-2-1300x974.jpg' %}',
        '{% static 'images/IMG_7637-1300x866.jpg' %}'];

    preload(urls);
    var current_set = 0;
    $(function () {
        var current_index = 0;
        var interval = setInterval(function () {
            current_index += 1;
            if (current_index > urls.length - 1) {
                current_index = 0;
            }
            $('.top-cover').css('background', '#84AECA url("' + urls[current_index] + '") no-repeat bottom');
            $('.top-cover').css('background-size', 'cover');
        }, 5000);

        $('.top-cover').find('.tp-leftarrow').click(function () {
            current_index -= 1;
            if (current_index == -1) {
                current_index = urls.length - 1;
            }
            $('.top-cover').css('background', '#84AECA url("' + urls[current_index] + '") no-repeat bottom');
            $('.top-cover').css('background-size', 'cover');
            clearInterval(interval);
            interval = setInterval(function () {
                current_index += 1;
                if (current_index > urls.length - 1) {
                    current_index = 0;
                }
                $('.top-cover').css('background', '#84AECA url("' + urls[current_index] + '") no-repeat bottom');
                $('.top-cover').css('background-size', 'cover');
            }, 5000);
        });

        $('.top-cover').find('.tp-rightarrow').click(function () {
            current_index += 1;
            if (current_index > urls.length - 1) {
                current_index = 0;
            }
            $('.top-cover').css('background', '#84AECA url("' + urls[current_index] + '") no-repeat bottom');
            $('.top-cover').css('background-size', 'cover');
            clearInterval(interval);
            interval = setInterval(function () {
                current_index += 1;
                if (current_index > urls.length - 1) {
                    current_index = 0;
                }
                $('.top-cover').css('background', '#84AECA url("' + urls[current_index] + '") no-repeat bottom');
                $('.top-cover').css('background-size', 'cover');
            }, 5000);
        });
        $('#cards').find('.tp-rightarrow').click(function () {
            $('#cards').find('.set').hide();
            current_set++;
            if (current_set > 1) {
                current_set = 0;
            }
            $($('#cards').find('.set')[current_set]).show();
        });
        $('#cards').find('.tp-leftarrow').click(function () {
            $('#cards').find('.set').hide();
            current_set++;
            if (current_set < 0) {
                current_set = 1;
            }
            $($('#cards').find('.set')[current_set]).show();
        });
    });
</script>
</html>