{% load staticfiles %}
<html>
{% include 'header.html' %}
{% block additionalHeaders %}
{% endblock %}
<body>
<!-- Main Page Content and Sidebar -->
{% block content %}
    <div class="top-cover">
        <div class="top-nav">
            <div class="row">
                <img class="logo" style="margin-top: 5px" src="{% static 'images/MeHelpYouLogo.svg' %}">

                <div class="right extra-top-large-margin"><a href="{% url 'user:login' %}">LOG IN</a></div>
            </div>
        </div>
        <div class="row extra-top-margin">
            <div class="text-center extra-top-margin centered">
                <h1 class="title text-center centered">PROVIDE LEADS AND EARN MONEY</h1>
                <button class="extra-top-small-margin button-important [radius round small]">GET STARTED</button>
                <div class="extra-top-small-margin">
                    <div class="white-font">If you're a business, <a href="#">sign up here.</a></div>
                </div>
            </div>
        </div>
    </div>
    <div class="middle-cover">
        <div class="row margin-extra-bottom">
            <div class="row extra-top-margin text-center collapse margin-extra-bottom">
                <h2 class="extra-top-xlarge-margin">HOW IT WORKS</h2>

                <div class="large-12 med-width columns medium-font text-center small-centered extra-top-margin margin-extra-bottom">
                    <div class="large-4 columns">
                        <span class="circle">1</span>
                        Sign up and see<br>lead requests
                    </div>
                    <div class="large-4 columns">
                        <span class="circle">2</span>
                        Provide a suitable<br>lead to a business<br> or individual
                    </div>
                    <div class="large-4 columns">
                        <span class="circle">3</span>
                        Earn a commission<br> for every successful<br> lead you provide
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="extra-top-margin">
        <div class="row extra-top-margin text-center">
            <h2 class="extra-top-xlarge-margin">COMPANIES CURRENTLY USING <br>MeHelpYou</h2>

            <div class="row text-center centered">

                <div class="flip">
                    <div class="card">
                        <div class="face front">
                            <img src="static/images/kpmglogo.png">
                        </div>
                        <div class="face back">
                            <div class="text-left">
                                <strong>KPMG</strong><br><br>

                                <div class="back-text">
                                    Offering up to $2,000 for client referrals.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="flip">
                    <div class="card">
                        <div class="face front">
                            <img src="static/images/directenergylogo.png">
                        </div>
                        <div class="face back">
                            <div class="text-left">
                                <strong>Direct Energy</strong><br><br>

                                <div class="back-text">
                                    is offering $100 for each successful referral of a customer
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="flip">
                    <div class="card">
                        <div class="face front">
                            <img src="static/images/clearbridgelogo.png">
                        </div>
                        <div class="face back">
                            <div class="text-left">
                                <strong>Clearbridge Mobile</strong><br><br>

                                <div class="back-text">
                                    is offering up to $750 for referrals of customers that need mobile applications
                                    developed
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="row text-center centered margin-extra-bottom extra-top-xlarge-margin">

                <div class="flip">
                    <div class="card">
                        <div class="face front">
                            <img src="static/images/tdbanklogo.png">
                        </div>
                        <div class="face back">
                            <div class="text-left">
                                <strong>TD</strong><br><br>

                                <div class="back-text">
                                    is offering $200 for each referral you send that buys one of their mutual fund
                                    products
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="flip">
                    <div class="card">
                        <div class="face front">
                            <img src="static/images/srjlogo.png">
                        </div>
                        <div class="face back">
                            <div class="text-left">
                                <strong>SRJ</strong><br><br>

                                <div class="back-text">
                                    Chartred Accountants is offering $200 to $500 for referrals of tax or accounting
                                    clients
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="flip">
                    <div class="card">
                        <div class="face front">
                            <img src="static/images/nortonroselogo.png">
                        </div>
                        <div class="face back">
                            <div class="text-left">
                                <strong>Norton Rose</strong><br><br>

                                <div class="back-text">
                                    is a law firm offering up to $1,000 for referrals of corporate clients for legal
                                    work
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom-cover">
        <div class="row text-center">
            <h2 class="extra-top-xlarge-margin white-font">TURN CONTACTS INTO LEADS</h2>
            <h4 class="white-font">Earn a commission for every successful lead you<br>provide</h4>

            <div class="row margin-extra-bottom">
                <div class="large-12 med-width columns white-font small-centered extra-top-margin">
                    <div class="large-4 columns left-text">
                        <div class="batch medium-font">&#xF043</div>
                        <br><br>USE YOUR NETWORK<br>

                        <div class="extra-top-mini-margin">
                            <hr class="bold">
                        </div>
                        You have lots of friends, acquaintances and contacts who are looking for referrals
                    </div>
                    <div class="large-4 columns left-text">
                        <div class="batch medium-font">&#xF162</div>
                        <br><br>KEEP CONTACTS PRIVATE<br>

                        <div class="extra-top-mini-margin">
                            <hr class="bold">
                        </div>
                        Only respectfully share a contacts details once you have determined they need the product /
                        service.
                    </div>
                    <div class="large-4 columns left-text">
                        <div class="batch medium-font">&#xF045</div>
                        <br><br>EARN EXTRA MONEY<br>

                        <div class="extra-top-mini-margin">
                            <hr class="bold">
                        </div>
                        YOU make money for the referral, CUSTOMER gets trusted referral for their need, COMPANY gets a
                        new
                        customer.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row extra-top-margin">
        <div class="row extra-top-margin text-center">
            <h2>Sign Up For MeHelpYou</h2>

            <button class="button-start">GET STARTED</button>
            <div class="row extra-top-xlarge-margin margin-extra-bottom">
                &copy; 2013 MeHelpYou, INC. ALL RIGHTS RESERVED
            </div>
        </div>
    </div>
    {% load tz_detect %}
    {% tz_detect %}
{% endblock %}
<div id="invite-form" class="light-box">
    <a id="close_x" class="close sprited" href="#">close</a>

    <div id='invite-widget'>
        <div class="wid_content">
            <form data-role="none"
                  action="{% url 'user:send_user_invites' %}?next={% firstof request.path '/' %}" method="post">
                {% csrf_token %}
                <h3><label for="invitations_select">Send to:</label></h3>
                <button type="button" value="Select All"
                        class="button-important [radius small round] text-center centered" id="select">Select All
                </button>

                <div id="friends" class="extra-top-small-margin">
                    <input class="search" placeholder="Filter"/>

                    <ul class="list"
                        style="margin-top: 10px; max-height: 250px; overflow-y: scroll; -webkit-transform: translateZ(0);">
                        {% for profile in user.user_profile.all %}
                            {% for invitee in profile.invitees_set.all %}
                                <li>
                                    <input type="checkbox" name="invites[]" value="{{ invitee.id }}"
                                           id="{{ invitee.name }}_{{ invitee.id }}">
                                    <label class="extra-top-margin"
                                           for="{{ invitee.name }}_{{ invitee.id }}">{{ invitee.name }}</label>

                                    <p style="display: none" class="friend_names">{{ invitee.name }}</p>
                                </li>
                            {% endfor %}
                        {% endfor %}
                    </ul>
                </div>
                <h3><label for="message" data-role="none"
                           style="margin-top: 20px;">Message: </label></h3>
                <textarea id="message" name="message" style="height: 130px; font-size: 12px">Help yourself & others you
                    know through the professional MeHelpYou community.

                    Invite Friends. Ask For Leads. Provide Leads. Make Money.

                    Join today at www.MeHelpYou.com</textarea>
                <button type="submit" class="button-important [radius small round]" value="Invite">Invite</button>
                <span id="error" style="display: none"></span>
            </form>
        </div>
    </div>
</div>
<!-- End Main Content and Sidebar -->

{% include 'footer.html' %}
</body>
<script type="text/javascript" src="{% static 'js/jquery.lightbox_me.js' %}"></script>
<script type="text/javascript" src="{% static 'js/list.min.js' %}"></script>
<script>
    $(function () {
        $(document).foundation();
        var $select = $('#select');
        $select.click(function () {
            if ($select.val() == "Select All") {
                $('.friend_input').prop('checked', true);
                $select.val('Deselect All');
            } else {
                $('.friend_input').prop('checked', false);
                $select.val('Select All');
            }
        });
        var options = {
            valueNames: [ 'friend_names' ],
        };

        var friends_list = new List('friends', options);
    });
</script>
<script>
    $('#invite-button').click(function () {
        $('#invite-form').lightbox_me({centered: true});
    });
</script>
{% block additionalScripts %}
{% endblock %}
</html>