{% load staticfiles %}
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    <meta name="description" content="{% block description %}Please join the MeHelpYou community.  Help your friends & connections.
    Invite Friends. Ask For Leads. Provide Leads. Make Money.{% endblock %}">

    <!-- Default CSS -->
    <!--[if IE 8]><!-->
    <link rel="stylesheet" href="{% static 'css/ie8-grid-foundation-4.css' %}"/>
    <![endif]-->
    <!--[if lt IE 9]>
    <script src="{% static 'js/vendor/html5shiv.js' %}"></script><![endif]-->
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.2/html5shiv.js"></script>
      <script src="//s3.amazonaws.com/nwapi/nwmatcher/nwmatcher-1.2.5-min.js"></script>
      <script src="//html5base.googlecode.com/svn-history/r38/trunk/js/selectivizr-1.0.3b.js"></script>
      <script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.1.0/respond.min.js"></script>
    <![endif]-->
    <!--[if gt IE 8]>
        <link rel="stylesheet" href="{% static 'css/normalize.css' %}"/>
    <!--<![endif]-->
    <link rel="stylesheet" href="{% static 'css/foundation.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/chosen.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/introjs.css' %}"/>
    <!-- Font Awesome - Retina Icons -->
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <!-- Google Fonts -->
    <script type="text/javascript" src="//use.typekit.net/ltj0apq.js"></script>
    <script type="text/javascript">try {
        Typekit.load();
    } catch (e) {
    }</script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="http://code.jquery.com/jquery-migrate-1.2.1.js"></script>
    <script src="{% static 'js/foundation/foundation.js' %}"></script>
    <script src="{% static 'js/foundation/foundation.dropdown.js' %}"></script>
    <script src="{% static 'js/foundation/foundation.topbar.js' %}"></script>
    <script src="{% static 'js/foundation/foundation.accordion.js' %}"></script>
    <script src="https://checkout.stripe.com/v2/checkout.js"></script>
    <script src="{% static 'js/intro.js' %}"></script>
</head>