{% extends 'base.html' %}
{% block additionalScripts %}
    <div id="new_user" title="Welcome we are currently in beta!" data-role="none"
         style="display: none; background: #eef2f7; padding: 10px">
        <a id="close_x" class="close sprited" href="#">close</a>

        <p style="font-size: 15px; color: black;"><strong>Welcome to MeHelpYou's Beta. <br> When prompted to enter
            Credit
            Card, please enter the test # "4242 4242 4242 4242"
            <br>Enter any forward expiry date and any 3 digit CVC code.</strong></p>
    </div>
    <script>
        $('#new_user').lightbox_me({centered: true});
    </script>
{% endblock %}