{% extends 'base.html' %}
{% block additionalScripts %}
    <div id="new_user" title="Welcome we are currently in beta!" data-role="none"
         style="display: none; background: #eef2f7; padding: 10px">
        <a class="close close_x sprited" href="#">close</a>

        <p style="font-size: 15px; color: black;"><strong>Welcome to MeHelpYou's Alpha Test.<br><br>
            You can generate real leads, invite your connections & friends, and provide us feedback.<br>
            All plans are currently free and all money paid and generated is for now, fake money.<br> <br>

            When prompted to enter Credit Card, please enter the test # "4242 4242 4242 4242"
            Enter any forward expiry date and any 3 digit CVC code.
            <br><br>
            Our next major release will involve a design overhaul, the use of real money, and changes from your valuable
            feedback.
            <br><br>
            Happy lead generation for your work or business!</strong></p>
    </div>
    <script>
        $(function () {
            $('#new_user').lightbox_me({centered: true});
            setInterval(function(){
                $('#new_user').trigger('close');
            }, 30000);
        });
    </script>
{% endblock %}