{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
    {% include 'nav-bar.html' %}
    <div class="row extra-top-margin">
        <div class="large-12 columns" role="content">
            <article>
                <h2>PRIVACY POLICY</h2>
                <hr/>
                <div class="row">
                    <div class="large-12 columns">

                        <p>Introduction<br/>
                            This document (the "Privacy Policy") sets out MeHelpYou's privacy and personal information
                            practices relating to your use of the MeHelpYou website (the "Site"). MeHelpYou may update
                            this Privacy Policy from time to time and you are responsible for reviewing the most current
                            version of this Privacy Policy. This Privacy Policy was last amended on the date shown at
                            the top corner of this Privacy Policy page. If you do not agree with the Privacy Policy, you
                            may not use the Site. Your continued use of the Site is taken to be your agreement in
                            respect of the policies and procedures, and practices associated with this Privacy Policy
                            and any updated that have been made. MeHelpYou considers personal information to be any
                            information that can be used to identify an individual ("Personal Information").</p>

                        <p>Accessing to Personal Information<br/>
                            You can ask to view your Personal Information by contacting our privacy officer at
                            privacy@MeHelpYou.com. Should you require that any corrections be made to your Personal
                            Information you may request such corrections by sending a note to our privacy officer at
                            privacy@MeHelpYou.com.</p>

                        <p>Registration<br/>
                            Once you have registered with the Site, you consent to the collection, use, disclosure and
                            management of your personal information in accordance with this Privacy Policy.</p>

                        <p>Collection Practices<br/>
                            MeHelpYou collects personal information from you at the time of registration. The email
                            address you provide will be used to send you updates and notification. Please note that any
                            information that is contained in your user profile that you chose to make public through the
                            use of the privacy settings found on the Site can be used and viewed by others, including
                            through Internet search engines.</p>

                        <p>Third Party Services<br/>
                            Where you have chosen to link your account with other third party services such as Facebook,
                            LinkedIn, and/or Twitter, you agree that your Personal Information may be shared with such
                            third party services.</p>

                        <p>Use and Disclosure of Personal Information <br/>
                            Personal information collected by MeHelpYou will only be used or disclosed for purposes
                            described in this Privacy Policy. We use and disclose your Personal Information for purposes
                            of allowing you to engage with other users through submitting reviews and making connections
                            on the Site. We may also use your Personal Information to customize the Site for you
                            including through viewing of advertisements that are targeted to you. We do not disclose any
                            of your Personal Information to third parties except as provided for in this Privacy Policy.
                            We may disclose your Personal Information: (i) to third party service providers for purposes
                            of our technical and hosting requirements; (ii) to MeHelpYou's affiliates that comply with
                            the terms and conditions of this Privacy Policy and (iii) to law enforcement agencies where
                            such disclosure is required pursuant to law or for where we have a bona fide belief that we
                            are aiding an investigation by law enforcement agencies.</p>

                        <p>Deleting your Account <br/>
                            Should you wish, you may request us to delete your account. Upon deletion of your account,
                            your Personal Information will not be visible or viewable by anyone. However, records of
                            your account, including your Personal Information may be stored by us pursuant to our record
                            keeping and backup practices.</p>

                    </div>
                </div>
            </article>
        </div>
    </div>
{% endblock %}