{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
    {% include 'nav-bar.html' %}
    <div class="row extra-top-margin">
        <div class="large-12 columns" role="content">
            <article>
                <h2>TERMS AND CONDITIONS</h2>
                <hr/>
                <div class="row">
                    <div class="large-12 columns">
                        <p>Introduction<br/>
                            By using the MeHelpYou site ("MeHelpYou Site"), you hereby agree by these terms and
                            conditions
                            (the "Terms and
                            Conditions"). Do not access or use the MeHelpYou Site if you are unwilling or unable to be
                            bound
                            by these Terms
                            and Conditions. These Terms and Conditions constitute the entire agreement between you and
                            MeHelpYou Inc. and
                            its affiliates ("MeHelpYou") pertaining to your use of the MeHelpYou Site.</p>

                        <p>Modifications<br/>
                            If any of the provisions (or parts thereof) contained in these Terms and Conditions are
                            determined to be void,
                            invalid or otherwise unenforceable by a court of competent jurisdiction, such determination
                            will
                            not affect the
                            remaining provisions of parts thereof contained herein. MeHelpYou reserves the right, in its
                            sole discretion to
                            add to, remove from, modify or otherwise change any part of these Terms and Conditions, in
                            whole
                            or in part at
                            any time. Except as expressly contemplated herein, changes will be effective when notice of
                            such
                            change is
                            posted on the MeHelpYou Site. Please check these Terms and Conditions regularly for updates
                            by
                            checking the
                            "Last Updated" date at the top of this document. If any change is not acceptable to you, you
                            must discontinue
                            your use of the MeHelpYou Site immediately. Your continued use of the MeHelpYou Site after
                            any
                            such changes are
                            posted will constitute acceptance of those changes.</p>

                        <p>Access<br/>
                            To be able to access the MeHelpYou Site, you must first register. Successful registration
                            will
                            provide you with
                            access to material, software, information, data and other content ("Content") available on
                            the
                            MeHelpYou Site.
                            When registering, you agree to provide accurate and current information.</p>

                        <p>Security<br/>
                            You are responsible for maintaining the confidentiality of any passwords or other account
                            identifiers which you
                            choose or are assigned as a result of registration. In addition, you will be responsible for
                            all
                            activities that
                            occur using your account. Where you know of any unauthorized use of your account, you must
                            notify MeHelpYou
                            immediately. Where you have failed to comply with the requirements of this section,
                            MeHelpYou
                            will not be
                            responsible or liable, directly or indirectly, in any way for loss or damage of any kind
                            incurred as a result.
                        </p>

                        <p>Prohibited Conduct<br/>
                            You agree that your use of the MeHelpYou Site will comply with all applicable laws. In
                            addition,
                            you
                            specifically agree that you will not:</p>

                        <p>· post information that would constitute a criminal offence;</p>

                        <p>· post information that would give rise to civil liability;</p>

                        <p>· defame, abuse, stalk, harass, threaten or otherwise violate the legal rights of others;</p>

                        <p>· upload viruses, spam or other malicious code;</p>

                        <p>· bully, harass or otherwise intimidate any user;</p>

                        <p>· post material that is hateful, racist, threatening or pornographic; AND/OR</p>

                        <p>· make any misrepresentations;</p>

                        <p>Reviews<br/>
                            You are encouraged to submit reviews for products and services using the MeHelpYou Site.
                            Where
                            MeHelpYou
                            believes as determined by MeHelpYou in its sole discretion that a user's review has violated
                            these Terms and
                            Conditions, MeHelpYou may remove such review, or remove or suspend such user's access to the
                            MeHelpYou Site. If
                            you discover a review regarding your products, services or business that you believe
                            contains
                            false, misleading
                            or inappropriate content, and you wish for MeHelpYou to conduct a review, we ask that you
                            email
                            us at
                            feedback@MeHelpYou.com with your reasons for requesting the review. You acknowledge that
                            MeHelpYou is not
                            required to take any action in relation to any such requests.</p>

                        <p>Ownership of Website Content<br/>
                            In relation to any materials, images or descriptions ("Content") you upload the MeHelpYou
                            Site,
                            you hereby grant
                            MeHelpYou and its affiliates a world-wide, perpetual, royalty-free, irrevocable and
                            non-exclusive right and
                            license to use, copy, adapt, transmit, communicate, and publicly display such Content. You
                            agree
                            not to post
                            Content that harasses or advocates harassment; that poses security or privacy risks; that
                            infringes or violates
                            a third party's rights; and that promotes illegal or criminal activity. Except as expressly
                            provided for in
                            these Terms and Conditions, or based on functionality provided for on the MeHelpYou site you
                            are
                            not permitted
                            to copy, reproduce, alter, share or modify the Content found on the MeHelpYou Site, unless
                            if
                            your own Content.
                        </p>

                        <p>Profile<br/>
                            MeHelpYou will provide you with the ability to manage your personal or business profile. You
                            hereby acknowledge
                            that by managing and customizing your profile you are permitting Content you provide to be
                            shared, at you risk,
                            with other users of the MeHelpYou Site. Individual Profile is provided in accordance with
                            these
                            Terms and
                            Conditions. The MeHelpYou Site provides mechanisms by which materials may be uploaded to a
                            user's Individual
                            Profile. For any material that you upload to the MeHelpYou Site, you automatically grant (or
                            warrant that the
                            owner of such material expressly grants) MeHelpYou and its Restrictions on Uploading and
                            Management of Content.
                            By uploading any Content to your individual profile you agree that you are entirely
                            responsible
                            for the content
                            of, and any harm that may result from the Content.</p>

                        <p>Links to Third Party Sites:<br/>
                            As part of the provision of Services, MeHelpYou provides registered users with the ability
                            to
                            manage their
                            Individual Profiles and link to third party social networking sites. MeHelpYou is not
                            responsible for the
                            operation or use of any information contained in your Individual Profiles by such third
                            party
                            sites, nor for the
                            third party sites.</p>

                        <p>Disclaimer and Limitation of Liability:<br/>
                            YOU EXPRESSLY UNDERSTAND AND AGREE THAT: (A) TO THE MAXIMUM EXTENT PERMITTED BY APPLICABLE
                            LAW,
                            THE MEHELPYOU
                            SITES, INCLUDING ANY SERVICES OR PROGRAMS FOUND THEREON ARE PROVIDED ON AN 'AS IS' AND 'AS
                            AVAILABLE' BASIS AND
                            THAT EACH OF MEHELPYOU, ITS AGENTS, REPRESENTATIVES AND LICENSORS AND EACH OF THEIR
                            RESPECTIVE
                            AFFILIATES
                            (COLLECTIVELY THE "MEHELPYOU GROUP") DOES NOT MAKE ANY, AND HEREBY DISCLAIMS ALL,
                            REPRESENTATIONS, WARRANTIES,
                            TERMS, CONDITIONS AND ENDORSEMENTS (COLLECTIVELY THE "WARRANTIES") OF ANY KIND, WHETHER
                            EXPRESS
                            OR IMPLIED , AS
                            TO ANY MATTER HEREUNDER, INCLUDING WITHOUT LIMITATION, ANY IMPLIED WARRANTIES OF
                            MERCHANTABILITY, FITNESS FOR A
                            PARTICULAR PURPOSE, NON-INFRINGEMENT, TITLE, ACCURACY, SUITABILITY, RELIABILITY, FREEDOM
                            FROM
                            INFECTIONS OR
                            VIRUSES OR COMPLETENESS AS WELL AS ANY WARRANTIES ARISING BY STATUE OR OTHERWISE IN LAW OR
                            FROM
                            A COURSE OF
                            DEALING OR USAGE OF TRADE; AND (B) TO THE MAXIMUM EVENT PERMITTED BY APPLICABLE LAW, THE
                            MEHELPYOU GROUP
                            SPECIFICALLY MAKES NO WARRANTIES THAT A MEHELPYOU SITE OR ANY OF THE SERVICES, INCLUDING ANY
                            CONTENT,
                            INFORMATION, PRODUCTS OR SERVICES OBTAINED FROM OR THROUGH THE USE OF A MEHELPYOU SITE WILL
                            BE
                            PROVIDED ON A
                            UNINTERRUPTED TIMELY, SECURE, OR ERROR FREE BASIS. TO THE FULLEST EXTENT PERMITTED BY LAW,
                            UNDER
                            NO
                            CIRCUMSTANCES, INCLUDING, BUT NOT LIMITED TO, NEGLIGENCE, SHALL MEHELPYOU BE LIABLE FOR ANY
                            LOSS
                            OF USE, LOSS OF
                            DATA, LOSS OF INCOME OR PROFIT, LOSS OF OR DAMAGE TO PROPERTY, OR FOR ANY DAMAGES OF ANY
                            KIND OR
                            CHARACTER
                            (INCLUDING WITHOUT LIMITATION ANY COMPENSATORY, INCIDENTAL, DIRECT, INDIRECT, SPECIAL,
                            PUNITIVE,
                            OR
                            CONSEQUENTIAL DAMAGES), EVEN IF MEHELPYOU HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH
                            DAMAGES OR
                            LOSSES, ARISING
                            OUT OF OR IN CONNECTION WITH THE USE OF THE MEHELPYOU SITES, THEIR CONTENTS, OR ANY WEBSITE
                            OR
                            CONTENTS WITH
                            WHICH IT IS LINKED. IN NO EVENT SHALL THE PROGRAM WEBSITE'S LIABILITY FOR ALL DAMAGES,
                            LOSSES,
                            AND CAUSES OF
                            ACTION, WHETHER IN CONTRACT, TORT (INCLUDING, BUT NOT LIMITED TO, NEGLIGENCE), OR OTHERWISE,
                            THE
                            AMOUNT PAID BY
                            YOU TO USE THE SERVICES.</p>

                        <p>Privacy<br/>
                            For information on how user information is collected, used and disclosed by MeHelpYou in
                            connection with your
                            use of the MeHelpYou Site, please review our Privacy Policy</p>

                        <p>MeHelpYou Termination<br/>
                            MeHelpYou reserves the right to suspend or terminate your access to the MeHelpYou Site, at
                            any
                            time for
                            convenience, or for any other reason, including without limitation if MeHelpYou has
                            determined
                            in its sole
                            discretion that the use of the MeHelpYou Site was in breach of these Terms and Conditions.
                        </p>

                        <p>Governing Law<br/>
                            These Terms and Conditions will be interpreted, construed and governed by the laws in force
                            in
                            the Province of
                            Ontario, Canada.</p>
                    </div>
                </div>
            </article>
        </div>
    </div>
{% endblock %}