<div bgcolor="#efefef" style="background-color:#efefef;color:#666;font-family:Arial,Helvetica,sans-serif">
    <div class="adM"></div>
    <table style="margin:0 auto" border="0" cellpadding="0" cellspacing="0" width="600">
        <tbody>
        <tr>
            <td colspan="14" style="text-align: center; margin-bottom: 10px"><img
                    src="https://www.mehelpyou.com/static/images/mehelpyou-trans.png"
                    alt="MEHELPYOU"></td>
        </tr>
        <tr>
            <td bgcolor="#FFFFFF" nowrap="" width="20"></td>
            <td colspan="12" style="font-size:27px;font-weight:bold;line-height:37px;padding:15px 0" bgcolor="#FFFFFF"
                width="560">
                <center>Unlock The Full Potential Of Your Contacts</center>
            </td>
            <td bgcolor="#FFFFFF" nowrap="" width="20"></td>
        </tr>
        <tr>
            <td colspan="14" bgcolor="#FFFFFF" height="20" nowrap="" width="600"></td>
        </tr>
        <tr>
            <td bgcolor="#FFFFFF" nowrap="" width="20"></td>
            <td colspan="12" style="font-size:16px;line-height:23px;padding:0 0 35px" bgcolor="#FFFFFF" width="560">
                Here are this weeks top requests by category. <br><br><a
                    href="https://www.mehelpyou.com/"
                    style="color:#389ba4;font-weight:bold;text-decoration:none" target="_blank">To see more visit
                www.mehelpyou.com →</a>
            </td>
            <td bgcolor="#FFFFFF" nowrap="" width="20"></td>
        </tr>
        {% for c1, c2 in categories %}
            <tr>
                <td bgcolor="#FFFFFF" nowrap="" width="20"></td>
                <td colspan="6"><img style="float:left"
                                     src="{{ c1.2 }}"
                                     alt="Story 2" border="0" height="200" width="265"></td>
                <td bgcolor="#FFFFFF" nowrap="" width="30"></td>
                <td colspan="5"><img style="float:left"
                                     src="{{ c2.2 }}"
                                     alt="Story 3" border="0" height="200" width="265"></td>
                <td bgcolor="#FFFFFF" nowrap="" width="20"></td>
            </tr>
            <tr>
                <td colspan="14" bgcolor="#FFFFFF" height="20" nowrap="" width="600"></td>
            </tr>
            <tr>
                <td bgcolor="#FFFFFF" nowrap="" width="20"></td>
                <td colspan="6" style="font-size:14px;line-height:18px;padding:0 0 25px" bgcolor="#FFFFFF" valign="top"
                    width="265"><b style="font-size:16px;line-height:20px">{{ c1.0 }}</b>
                    <br><br>
                    {% for l in c1.1 %}
                        {{ l.title }} - Offering up to - {{ l.commission_end }}
                        <br>
                    {% endfor %}

                    <a href="https://www.mehelpyou.com/"
                       style="color:#389ba4;font-weight:bold;text-decoration:none" target="_blank">See More
                        →</a>
                </td>
                <td bgcolor="#FFFFFF" nowrap="" width="30"></td>
                <td colspan="6" style="font-size:14px;line-height:18px;padding:0 0 25px" bgcolor="#FFFFFF" valign="top"
                    width="265"><b style="font-size:16px;line-height:20px">{{ c2.0 }}</b>
                    <br><br>
                    {% for l in c2.1 %}
                        {{ l.title }} - Offering up to - {{ l.commission_end }}
                        <br>
                    {% endfor %}
                    <a href="https://www.mehelpyou.com/"
                       style="color:#389ba4;font-weight:bold;text-decoration:none" target="_blank">See More
                        →</a>
                </td>
            </tr>
        {% endfor %}
        <tr>
            <td nowrap="" width="20"></td>
            <td nowrap="" width="8"></td>
            <td nowrap="" width="125"></td>
            <td nowrap="" width="20"></td>
            <td nowrap="" width="17"></td>
            <td nowrap="" width="27"></td>
            <td nowrap="" width="68"></td>
            <td nowrap="" width="30"></td>
            <td nowrap="" width="17"></td>
            <td nowrap="" width="70"></td>
            <td nowrap="" width="9"></td>
            <td nowrap="" width="161"></td>
            <td nowrap="" width="8"></td>
            <td nowrap="" width="20"></td>
        </tr>
        </tbody>
    </table>
    <img src="http://email.dwolla.com/wf/open?upn=3cyL-2Bg9EphdoikqnePxui-2FFqc0lIK0nHVqKHfoTosKCW4OPS71gP3SC5j1y3ZaiTZ6Pc8d7ida5Vjg6nLcXGCI2mE0HV80l77xYRXXS8csu6qnX-2BHT70WkrbvPOQVCpzA6S46J8paE-2FHUNUdoGLFVnbZG-2FtYoDd0RaWO16r9NVGYQeUC1EtzresV74k0fHS4abVdniRbYNBSP2gva1c9RmSLnRFkA2VkJ8FtrRgxt-2Ba0-2Bak2ObsTSEhdwWvpXXCRl9K8sJdyyN8uqshbxfRthMfD9YbWMSes2sCtAeErfJ31CFSUdyJZsvXhfSbe-2BHue0BGLAKBNZafxY8np2zodmTayOo11-2Bnr-2FTyQZKmX16bs-3D"
         alt=""
         style="min-height:1px!important;width:1px!important;border-width:0!important;margin-top:0!important;margin-bottom:0!important;margin-right:0!important;margin-left:0!important;padding-top:0!important;padding-bottom:0!important;padding-right:0!important;padding-left:0!important"
         border="0" height="1" width="1">

    <div class="yj6qo"></div>
    <div class="adL"></div>
</div>