{% load lookupfilter %}
<div bgcolor="#efefef" style="background-color:#efefef;color:#666;font-family:Arial,Helvetica,sans-serif">
    <div class="adM"></div>
    <table style="margin:0 auto" border="0" cellpadding="0" cellspacing="0" width="800">
        <tbody>
        <tr>
            <td colspan="14" style="text-align: center; margin-bottom: 10px"><img
                    src="https://www.mehelpyou.com/static/images/mehelpyou-trans.png"
                    alt="MEHELPYOU"></td>
        </tr>
        <tr>
            <td bgcolor="#FFFFFF" nowrap="" width="20"></td>
            <td colspan="12" style="font-size:27px;font-weight:bold;line-height:37px;padding:15px 0" bgcolor="#FFFFFF"
                width="560">
                <center>Unlock The Full Potential Of Your Contacts</center>
            </td>
            <td bgcolor="#FFFFFF" nowrap="" width="20"></td>
        </tr>
        <tr>
            <td colspan="14" bgcolor="#FFFFFF" height="20" nowrap="" width="600"></td>
        </tr>
        <tr>
            <td bgcolor="#FFFFFF" nowrap="" width="20"></td>
            <td colspan="12" style="font-size:14px;line-height:23px;padding:0 0 35px" bgcolor="#FFFFFF" width="760">
                <p>Could you be the one to earn the $1 Million referral reward being offered on <a
                        href="https://www.mehelpyou.com">MeHelpYou.com</a>?<br>
                </p>

                <p>
                    <span style="font-style: italic">'All for just making a simple introduction that results in a deal'</span>
                </p>

                <p>Over 20 approved referral requests posted in our first month on <a
                        href="https://www.mehelpyou.com">MeHelpYou.com</a>. Summarized below by
                    category.<br></p>

                <p>
                    Referral rewards range from one at $1 Million, several in the $1,000 to $10,000 range, and many more
                    under $1,000.</p>

                <p>See if you can help someone with a referral & potentially earn yourself some extra $. <br></p>

                <p>
                    <strong style="font-style: italic">Sales are what enable a business to grow.<br> Relationships
                        enable
                        sales to happen.<br> Maybe you have that
                        relationship a business needs.</strong></p>
            </td>
            <td bgcolor="#FFFFFF" nowrap="" width="20"></td>
        </tr>
        {% for c1, c2 in categories %}
            <tr>
                <td bgcolor="#FFFFFF" nowrap="" width="20"></td>
                <td colspan="6" width="330"><img style="float:left;" width="330"
                                     src="{{ c1.2 }}"
                                     alt="Story 2" border="0" height="200"></td>
                <td bgcolor="#FFFFFF" nowrap="" width="30"></td>
                <td colspan="6" width="330"><img style="float:left;"
                                     src="{{ c2.2 }}"
                                     alt="Story 3" border="0" height="200" width="330"></td>
                <td bgcolor="#FFFFFF" nowrap="" width="20"></td>
            </tr>
            <tr>
                <td colspan="14" bgcolor="#FFFFFF" height="20" nowrap="" width="800"></td>
            </tr>
            <tr>
                <td bgcolor="#FFFFFF" nowrap="" width="20"></td>
                <td colspan="6" style="font-size:14px;line-height:18px;padding:0 10px 25px 0;" bgcolor="#FFFFFF"
                    valign="top"
                    width="330"><b style="font-size:16px;line-height:20px">{{ c1.0 }}</b>
                    <br><br>
                    {% for l in c1.1 %}
                        <a href="https://www.mehelpyou.com/request/view/{{ l.id }}">Offering up to
                            ${{ l.commission_end|money_format }}: {{ l.title|truncatewords:20 }}</a>
                        <br><br>
                    {% endfor %}

                    <a href="https://www.mehelpyou.com/"
                       style="color:#389ba4;font-weight:bold;text-decoration:none" target="_blank">See More
                        →</a>
                </td>
                <td bgcolor="#FFFFFF" nowrap="" width="30"></td>
                <td colspan="6" style="font-size:14px;line-height:18px;padding:0 10px 25px 0;" bgcolor="#FFFFFF"
                    valign="top"
                    width="330"><b style="font-size:16px;line-height:20px">{{ c2.0 }}</b>
                    <br><br>
                    {% for l in c2.1 %}
                        <a href="https://www.mehelpyou.com/request/view/{{ l.id }}">Offering up to
                            ${{ l.commission_end|money_format }}: {{ l.title|truncatewords:20 }}</a>
                        <br><br>
                    {% endfor %}
                    <a href="https://www.mehelpyou.com/"
                       style="color:#389ba4;font-weight:bold;text-decoration:none" target="_blank">See More
                        →</a>
                </td>
            </tr>
        {% endfor %}
        <tr>
            <td bgcolor="#FFFFFF" nowrap="" width="20"></td>
            <td colspan="12" style="font-size:16px;line-height:23px;padding:0 0 35px" bgcolor="#FFFFFF" width="760">
                <p> For your convenience, indicate the categories that interest you by logging on to <a
                        href="https://www.mehelpyou.com">MeHelpYou.com</a>. <br>
                    We will send you a monthly notification of requests in your categories.<br>
                    Or feel free to log in anytime to see new requests!"</p>

                <p>
                    Yours Sincerely, <br>
                    The MeHelpYou Team !
                </p>
            </td>
            <td bgcolor="#FFFFFF" nowrap="" width="20"></td>
        </tr>
        </tbody>
    </table>
    <div class="yj6qo"></div>
    <div class="adL"></div>
</div>