{% extends 'base.html' %}
{% load staticfiles %}
{% load tz %}
{% load lookupfilter %}
{% block additionalHeaders %}
    <script src="{% static 'js/foundation/foundation.tab.js' %}"></script>
{% endblock %}
{% block content %}
    {% include 'nav-bar.html' %}
    <!-- Main Page Content and Sidebar -->
    <div class="row call-to-action-bar">
        <div class="large-12 columns small-centered">
            <div class="large-6 columns text-center">
                <h3>WANT TO PROVIDE<br>ANY LEADS?</h3>
                <a class="button button-important [radius round]">OFFER LEADS</a>
            </div>
            <div class="large-6 columns text-center">
                <h3>ARE YOU LOOKING<br>FOR LEADS?</h3>
                <a class="button button-important [radius round]" href="{% url 'request:create' %}">CREATE REQUEST</a>
            </div>
        </div>
    </div>
    <div class="row feed">
        <!-- Main Blog Content -->
        <div class="large-12 columns extra-top-xlarge-margin" role="content">
            <div class="large-8 columns">
                <div class="row">
                    <div class="large-12 columns">
                        <div class="panel">
                            <button class="button-important not-100 [radius small round]">MAIN</button>
                            <strong class="right">ADVANCED SEARCH</strong>
                        </div>
                    </div>
                </div>
                {% for feed in feeds %}
                    <div class="row">
                        <div class="large-12 columns feed-row">
                            <div class="large-2 columns feed-row">
                                <img src="/{{ feed.avatar_link }}">
                            </div>
                            <div class="large-10 columns feed-row">
                                <div class="text-feed">
                                    {{ feed.description|safe }}
                                    <br>

                                    <div class="text-time">
                                        {{ feed.time|localtime|getTime }}
                                        <div class="batch">&#xF140</div>
                                        {{ feed.time|localtime|getDate }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                {% endfor %}
                <div class="pagination">
                    <span class="step-links">
                        {% if feeds.has_previous %}
                            <a href="?page={{ feeds.previous_page_number }}">previous</a>
                        {% endif %}

                        <span class="current">
                            Page {{ feeds.number }} of {{ feeds.paginator.num_pages }}
                        </span>

                        {% if feeds.has_next %}
                            <a href="?page={{ feeds.next_page_number }}">next</a>
                        {% endif %}
                    </span>
                </div>
            </div>
            <form action="" id="start_commissions" method="get">
                <div class="large-4 columns">
                    <div class="side-panel">
                        <div class="bar-title text-left all-round-padding">COMMISSION RANGES</div>
                        <div class="row">
                            <div class="large-12 columns all-round-padding">

                                <div class="large-6 columns">
                                    <input type="checkbox" name="commission_start" id="100" value="100" {% if '100' in request.GET|getList:'commission_start' %}checked{% endif %}><label
                                        for="100">$100+</label>
                                    <input type="checkbox" name="commission_start" id="300" value="300" {% if '300' in request.GET|getList:'commission_start' %}checked{% endif %}><label
                                        class="extra-top-margin"
                                        for="300">$300+</label>
                                </div>
                                <div class="large-6 columns">
                                    <input type="checkbox" name="commission_start" id="200" value="200" {% if '200' in request.GET|getList:'commission_start' %}checked{% endif %}><label
                                        for="200">$200+</label>
                                    <input type="checkbox" name="commission_start" id="400" value="400" {% if '400' in request.GET|getList:'commission_start' %}checked{% endif %}><label
                                        class="extra-top-margin"
                                        for="400">$400+</label>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="side-panel extra-top-margin">
                        <div class="bar-title text-left all-round-padding">CITIES</div>
                        <div class="row all-round-padding">
                            <div class="large-12 columns">
                                <input type="checkbox" name="city" id="toronto" value="Toronto" {% if 'Toronto' in request.GET|getList:'city' %}checked{% endif %}><label
                                    class="extra-top-margin"
                                    for="toronto">Toronto</label>
                            </div>
                            <div class="large-12 columns extra-top-mini-margin">
                                <input type="checkbox" name="city" id="new_york" value="New York" {% if 'New York' in request.GET|getList:'city' %}checked{% endif %}><label
                                    class="extra-top-margin"
                                    for="new_york">New York</label>
                            </div>
                            <div class="large-12 columns extra-top-mini-margin">
                                <input type="checkbox" name="city" id="calgary" value="Calgary" {% if 'Calgary' in request.GET|getList:'city' %}checked{% endif %}><label
                                    class="extra-top-margin"
                                    for="calgary">Calgary</label>
                            </div>
                        </div>
                    </div>
                    <div class="side-panel extra-top-margin">
                        <div class="bar-title text-left all-round-padding">CATEGORIES</div>
                        <div class="row all-round-padding">
                            <div class="large-12 columns">
                                <input type="checkbox" name="category" id="energy" value="Energy" {% if 'Energy' in request.GET|getList:'category' %}checked{% endif %}><label
                                    class="extra-top-margin"
                                    for="energy">Energy</label>
                            </div>
                            <div class="large-12 columns extra-top-mini-margin">
                                <input type="checkbox" name="category" id="lawyer" value="Lawyer" {% if 'Lawyer' in request.GET|getList:'category' %}checked{% endif %}><label
                                    class="extra-top-margin"
                                    for="lawyer">Lawyer</label>
                            </div>
                            <div class="large-12 columns extra-top-mini-margin">
                                <input type="checkbox" name="category" id="accountant" value="Accountant" {% if 'Accountant' in request.GET|getList:'category' %}checked{% endif %}><label
                                    class="extra-top-margin"
                                    for="accountant">Accountant</label>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <!-- End Main Content -->
    </div>
{% endblock %}
{% block additionalScripts %}
    <script type="text/javascript">
        $('#start_commissions').find('input[type=checkbox]').click(function () {
            $('#start_commissions').submit();
        });
    </script>
{% endblock %}