{% extends 'base.html' %}
{% load staticfiles %}
{% load tz %}
{% load lookupfilter %}
{% block content %}
    {% include 'nav-bar.html' %}
    <!-- Main Page Content and Sidebar -->
    <div class="row call-to-action-bar">
        <div class="large-12 columns small-centered">
            <div class="large-6 columns text-center" data-step="1" id="offer-leads" data-position="right"
                 data-intro="Ready to provide a referral? It's fast and easy!">
                <h3>WANT TO PROVIDE<br>ANY LEADS?</h3>
                <a class="button button-important [radius round]" href="{% url 'request:view_connections' %}">OFFER
                    LEADS</a><i class="fa fa-question-circle fa-blue" id="offer-leads"
                                style="margin-left: 30px; cursor: help"></i>
            </div>
            <div class="large-6 columns text-center" id="create-request">
                <h3>ARE YOU LOOKING<br>FOR LEADS?</h3>
                <a class="button button-important [radius round]" href="{% url 'request:create' %}">CREATE REQUEST</a>
                <i class="fa fa-question-circle fa-blue" style="margin-left: 30px; cursor: help" id="create-button"></i>
            </div>
        </div>
    </div>
    <div class="row feed">
        <!-- Main Blog Content -->
        <div class="large-12 columns extra-top-xlarge-margin" role="content">
            <div class="large-8 columns">
                <div class="row">
                    <div class="large-12 columns">
                        <div class="panel">
                            <button class="button-important not-100 [radius tiny round]">MAIN</button>
                            <strong class="right" id="adv_search" style="cursor: pointer">ADVANCED SEARCH</strong>
                        </div>
                    </div>
                </div>
                {% for feed in feeds %}
                    <div class="row" {% if forloop.first %}id="first-one" data-step="2"
                         data-intro="Select a request from the feed that you can provide a referral for"
                         data-position="top"{% endif %}>
                        <div class="large-12 columns feed-row">
                            <div class="large-2 columns feed-row">
                                <img src="/{{ feed.avatar_link }}">
                            </div>
                            <div class="large-10 columns feed-row clearfix">
                                <div class="text-feed">
                                    {{ feed.description|safe }}
                                    <br>
                                    {% localtime on %}
                                        <div class="text-time">
                                            {{ feed.time|localtime|getTime }}
                                            <i class="fa fa-circle" style="font-size: 6px; vertical-align: middle;"></i>&nbsp;
                                            {{ feed.time|localtime|getDate }}
                                        </div>
                                    {% endlocaltime %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                {% endfor %}
                <div class="pagination">
                    <span class="step-links">
                        {% if feeds.has_previous %}
                            <a href="?page={{ feeds.previous_page_number }}">previous</a>
                        {% endif %}

                        <span class="current">
                            Page {{ feeds.number }} of {{ feeds.paginator.num_pages }}
                        </span>

                        {% if feeds.has_next %}
                            <a href="?page={{ feeds.next_page_number }}">next</a>
                        {% endif %}
                    </span>
                </div>
            </div>
            <form action="" id="start_commissions" method="get">
                <div class="large-4 columns" data-step="5" data-position="top"
                     data-intro="You can also filter through requests to find one best suited to you">
                    <div class="side-panel">
                        <div class="bar-title text-left all-round-padding">COMMISSION RANGES</div>
                        <div class="row">
                            <div class="large-12 columns all-round-padding">

                                <div class="large-6 columns">
                                    <input type="checkbox" name="quick_commission_start" id="100" value="100"
                                           {% if '100' in request.GET|getList:'quick_commission_start' %}checked{% endif %}><label
                                        for="100">$100+</label>
                                    <input type="checkbox" name="quick_commission_start" id="300" value="300"
                                           {% if '300' in request.GET|getList:'quick_commission_start' %}checked{% endif %}><label
                                        class="extra-top-margin"
                                        for="300">$300+</label>
                                </div>
                                <div class="large-6 columns">
                                    <input type="checkbox" name="quick_commission_start" id="200" value="200"
                                           {% if '200' in request.GET|getList:'quick_commission_start' %}checked{% endif %}><label
                                        for="200">$200+</label>
                                    <input type="checkbox" name="quick_commission_start" id="400" value="400"
                                           {% if '400' in request.GET|getList:'quick_commission_start' %}checked{% endif %}><label
                                        class="extra-top-margin"
                                        for="400">$400+</label>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="side-panel extra-top-margin">
                        <div class="bar-title text-left all-round-padding">CITIES</div>
                        <div class="row all-round-padding">
                            <div class="large-12 columns">
                                <input type="checkbox" name="quick_city" id="toronto" value="Toronto"
                                       {% if 'Toronto' in request.GET|getList:'quick_city' %}checked{% endif %}><label
                                    class="extra-top-margin"
                                    for="toronto">Toronto</label>
                            </div>
                            <div class="large-12 columns extra-top-mini-margin">
                                <input type="checkbox" name="quick_city" id="new_york" value="New York"
                                       {% if 'New York' in request.GET|getList:'quick_city' %}checked{% endif %}><label
                                    class="extra-top-margin"
                                    for="new_york">New York</label>
                            </div>
                            <div class="large-12 columns extra-top-mini-margin">
                                <input type="checkbox" name="quick_city" id="calgary" value="Calgary"
                                       {% if 'Calgary' in request.GET|getList:'quick_city' %}checked{% endif %}><label
                                    class="extra-top-margin"
                                    for="calgary">Calgary</label>
                            </div>
                        </div>
                    </div>
                    <div class="side-panel extra-top-margin">
                        <div class="bar-title text-left all-round-padding">CATEGORIES</div>
                        <div class="row all-round-padding">
                            <div class="large-12 columns">
                                <input type="checkbox" name="quick_category" id="other" value="Other"
                                       {% if 'Other' in request.GET|getList:'quick_category' %}checked{% endif %}><label
                                    class="extra-top-margin"
                                    for="other">Other</label>
                            </div>
                            <div class="large-12 columns extra-top-mini-margin">
                                <input type="checkbox" name="quick_category" id="lawyer" value="Lawyer"
                                       {% if 'Lawyer' in request.GET|getList:'quick_category' %}checked{% endif %}><label
                                    class="extra-top-margin"
                                    for="lawyer">Lawyer</label>
                            </div>
                            <div class="large-12 columns extra-top-mini-margin">
                                <input type="checkbox" name="quick_category" id="accountant" value="Accountant"
                                       {% if 'Accountant' in request.GET|getList:'quick_category' %}checked{% endif %}><label
                                    class="extra-top-margin"
                                    for="accountant">Accountant</label>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <!-- End Main Content -->
    </div>
    <div class="light-box" id="start-offer">
        <i class="fa fa-times-circle-o close"
           style="margin-top: 7px; font-size: 1.5em; margin-right: 10px; float: right"></i>

        <div class="row text-center large-centered extra-top-small-margin margin-extra-bottom">
            <div class="large-12 columns">
                <div class="row">
                    <div class="large-centered large-10 columns">
                        Your are now ready to get started! Begin by clicking a request relevant to your.
                    </div>
                </div>
                <div class="row">
                    <div class="large-centered large-10 columns">
                        <button class="right close extra-top-margin button-important">Done</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="search-form" class="light-box">
        <i class="fa fa-times-circle-o close"
           style="margin-top: 7px; font-size: 1.5em; margin-right: 10px; float: right"></i>

        <div class="title-light">
            Advanced Search
        </div>
        <div class="row">
            <form action="" method="get" class="text-center">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="button-important">Submit</button>
            </form>
        </div>
    </div>
{% endblock %}
{% block additionalScripts %}
    <script type="text/javascript">
        $(function () {
            $('#start_commissions').find('input[type=checkbox]').click(function () {
                $('#start_commissions').submit();
            });
            $('#adv_search').click(function () {
                $('#search-form').lightbox_me({centered: true});
            });
            {% if feeds %}
                $('#offer-leads').click(function () {
                    introJs().setOption('doneLabel', 'Next').start().onchange(function () {
                        if (this._currentStep == 2) {
                            $('.introjs-helperLayer').hide();
                            $('.introjs-overlay').hide();
                            window.location.href = '{% url 'response:create' feeds.0.request.id %}?multipage=true';
                            setInterval(hideIntro, 1);
                        }
                    });
                });
            {% endif %}
            function hideIntro() {
                $('.introjs-helperLayer').hide();
            }

            if (RegExp('multipage', 'gi').test(window.location.search)) {
                introJs().oncomplete(function () {
                    $('#start-offer').lightbox_me({centered: true});
                }).onexit(function () {
                    $('#start-offer').lightbox_me({centered: true});
                }).goToStep(3).start();
            }
            $('#create-button').click(otherIntro);
            function otherIntro() {
                var intro = introJs();
                intro.setOptions({
                    steps: [
                        {
                            element: document.querySelector('#create-request'),
                            intro: 'Click "Create Request" to get started with a new request',
                            position: 'left'
                        }
                    ],
                    skipLabel: 'Next'
                });

                intro.start();
                intro.oncomplete(function () {
                    window.location.href = '{% url 'request:create' %}?multipage=true';
                });
            }
        });
    </script>
{% endblock %}